* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: ease-out 0.2s;
}

body {
    @extend %GothamPro;
    font-weight: 400;   
    &.fixed {
        height: 100vh;
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
input,
select,
textarea,
button,
a {
    outline: none !important;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}

input, select {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.502);;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.502);;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255, 255, 255, 0.502);;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.502);;
    } 
}

button,
a {
    cursor: pointer;
}

a {
    color: $brown;
    font-size: inherit;
    text-decoration: underline;
}

br {
    @media screen and (max-width: $small) {
        display: none;
    }
}

li {
    list-style: none;
}

.big-contaner {
    margin: 0 auto;
    width: 100%;
    background-color: #f9f5f3;
}
.container {
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding: 0 15px;
    }
    @media screen and (max-width: 1199px) {
        max-width: 992px;
        padding: 0 15px;
    }
    @media screen and (max-width: 992px) {
        width: 100%;
        padding: 0 15px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
        padding: 0 15px;
    }
}

.small-container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}
.section {
    // padding: 70px 0;
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    font-size: 13px;
    color: rgb(156, 165, 184);
    line-height: 1.2;   
    position: relative;
    display: block;
    padding-left: 25px; 
    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid $brown;
        border-radius: 3px;
    }   
}
input[type=checkbox]:checked + label {
    &:before {
        border: 0;
        width: 14px;
        height: 14px;
        background-image: url('../img/checkbox.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }   
}
.brown {
    font-size: inherit;
    color: $brown;
}

.btn {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;  
    white-space: nowrap;
    text-decoration: none;
    border: 0;      
    white-space: nowrap;
    font-weight: 500;
    &:disabled {
        color: #999;
    }
    &:hover {
        box-shadow: none;
    }
    &-white {
        color: $brown;
        background-color: rgb(255, 255, 255);
        height: 60px;
        padding: 10px 30px;
        line-height: 30px;
        border-radius: 30px;   
        display: inline-block;
        box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.3);   
        @media screen and (max-width: 480px) {
            min-width: 0;
            width: 100%;
            padding: 10px; 
        }  
    }  
    &-brown {
        color: rgb(255, 255, 255);
        background-color: $brown;
        height: 50px;
        padding: 10px 20px;
        line-height: 28px;
        border-radius: 25px;
        display: inline-block;
        box-shadow: 0px 0px 40px 5px rgba(176, 108, 81, 0.3);
    }
    @media screen and (max-width: 767px) {
        font-size: 13px;  
    }
    
}
.callback {
    position: relative;
    display: block;
    width: 100%;
    padding: 28px 30px 28px 70px;
    box-shadow: 0px 0px 40px 5px rgba(176, 108, 81, 0.3);
    @include flex(row, space-between, center);
    background-color: $brown;
    margin: 40px 0;
    border-radius: 60px;
    @media screen and (max-width: 992px) {
        display: block;
        height: auto;
        text-align: center;
    }
    @media screen and (max-width: $small) {
        padding: 30px;
    }
    &-input {
        padding-left: 45px;    
        height: 40px;
        width: 30%;
        position: relative;
        @media screen and (max-width: 992px) {
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            margin-bottom: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 30px;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 98% auto;
        }
        &.name {
            &:before {
                background-image: url('../img/form-name.svg');
            }
        }
        &.phone {
            &:before {
                background-image: url('../img/form-tel.svg');
            }
        }
        input {
            border: 0;
            background-color: transparent;
            border-bottom: 2px solid rgba(255, 255, 255, 0.502);
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgb(255, 255, 255);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: rgb(255, 255, 255);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: rgb(255, 255, 255);
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: rgb(255, 255, 255);
            }              
        }
        .error-text {
            font-size: 11px;
            display: none;
            position: absolute;
            left: 45px;
            bottom: -15px;
            color: red;
        }
        &.error {
            .error-text {
                display: block;
            }
        }
    }
    &-button {
        
    }
    &-agree {
        position: absolute;
        bottom: -40px;
        left: 140px;
        @media screen and (max-width: $small) {
            bottom: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            text-align: left;
        }
    }
}

.title {
    font-size: 36px;
    color: $text-black;
    line-height: 1.2;
    text-align: center;   
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 20px;
    font-weight: 500;   
    @media screen and (max-width: $small) {
        font-size: 32px;
        text-align: center;
    }
}
.subtitle {
    font-size: 16px;
    color: $text-gray;
    font-weight: 500;   
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    max-width: 680px; 
    margin-bottom: 15px;
    @media screen and (max-width: $small) {
        text-align: center;
    }
}

.owl-carousel {
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
    .owl-nav {
        position: absolute;
        width: 170px;
        height: 16px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        button {
            width: 17px;
            height: 12px;
            background-position: center center;
            background-size: auto;
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            // transform: translateY(-50%);
        }
        .owl-prev {
            left: 0;
            background-image: url('../img/brown-arrow.svg')!important;
            &.disabled {
                background-image: url('../img/gray-arrow.svg')!important;
            }
        }
        .owl-next {
            right: 0;
            background-image: url('../img/brown-arrow.svg')!important;
            transform: rotate(-180deg);
            &.disabled {
                background-image: url('../img/gray-arrow.svg')!important;
            }
        }
    }
    .owl-dots {
        position: absolute;
        width: 170px;
        height: 16px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @include flex(row, center, center);
        .owl-dot {
            border-radius: 50%;
            opacity: 1;
            margin: 0 5px;
            width: 5px;
            height: 5px;
            background-color: rgb(157, 166, 185);
            position: relative;
            &.active {
                background-color: $brown;
                &:before {
                    content: '';
                    border-radius: 50%;
                    position: absolute;
                    background-color: rgba(176, 108, 81, .15);
                    width: 13px;
                    height: 13px;
                    top: -4px;
                    left: -4px;
                    z-index: -1;
                }
            }
        }
    }
}

.cbalink {
    display: none;
}  