@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?") format("eot"), 
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), 
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?") format("eot"), 
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), 
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProBold/GothamProBold.eot?") format("eot"), 
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), 
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?") format("eot"), 
    url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"), 
    url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?") format("eot"), 
    url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), 
    url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}