// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow-down';
$arrow-down-x: 29px;
$arrow-down-y: 30px;
$arrow-down-offset-x: -29px;
$arrow-down-offset-y: -30px;
$arrow-down-width: 9px;
$arrow-down-height: 5px;
$arrow-down-total-width: 67px;
$arrow-down-total-height: 40px;
$arrow-down-image: '../img/sprite.png';
$arrow-down: (29px, 30px, -29px, -30px, 9px, 5px, 67px, 40px, '../img/sprite.png', 'arrow-down', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 20px;
$arrow-up-y: 30px;
$arrow-up-offset-x: -20px;
$arrow-up-offset-y: -30px;
$arrow-up-width: 9px;
$arrow-up-height: 6px;
$arrow-up-total-width: 67px;
$arrow-up-total-height: 40px;
$arrow-up-image: '../img/sprite.png';
$arrow-up: (20px, 30px, -20px, -30px, 9px, 6px, 67px, 40px, '../img/sprite.png', 'arrow-up', );
$inform-blue-name: 'inform-blue';
$inform-blue-x: 0px;
$inform-blue-y: 20px;
$inform-blue-offset-x: 0px;
$inform-blue-offset-y: -20px;
$inform-blue-width: 20px;
$inform-blue-height: 20px;
$inform-blue-total-width: 67px;
$inform-blue-total-height: 40px;
$inform-blue-image: '../img/sprite.png';
$inform-blue: (0px, 20px, 0px, -20px, 20px, 20px, 67px, 40px, '../img/sprite.png', 'inform-blue', );
$showcase-icon1-name: 'showcase-icon1';
$showcase-icon1-x: 0px;
$showcase-icon1-y: 0px;
$showcase-icon1-offset-x: 0px;
$showcase-icon1-offset-y: 0px;
$showcase-icon1-width: 27px;
$showcase-icon1-height: 20px;
$showcase-icon1-total-width: 67px;
$showcase-icon1-total-height: 40px;
$showcase-icon1-image: '../img/sprite.png';
$showcase-icon1: (0px, 0px, 0px, 0px, 27px, 20px, 67px, 40px, '../img/sprite.png', 'showcase-icon1', );
$showcase-icon2-name: 'showcase-icon2';
$showcase-icon2-x: 27px;
$showcase-icon2-y: 0px;
$showcase-icon2-offset-x: -27px;
$showcase-icon2-offset-y: 0px;
$showcase-icon2-width: 22px;
$showcase-icon2-height: 20px;
$showcase-icon2-total-width: 67px;
$showcase-icon2-total-height: 40px;
$showcase-icon2-image: '../img/sprite.png';
$showcase-icon2: (27px, 0px, -27px, 0px, 22px, 20px, 67px, 40px, '../img/sprite.png', 'showcase-icon2', );
$showcase-icon3-name: 'showcase-icon3';
$showcase-icon3-x: 49px;
$showcase-icon3-y: 0px;
$showcase-icon3-offset-x: -49px;
$showcase-icon3-offset-y: 0px;
$showcase-icon3-width: 18px;
$showcase-icon3-height: 22px;
$showcase-icon3-total-width: 67px;
$showcase-icon3-total-height: 40px;
$showcase-icon3-image: '../img/sprite.png';
$showcase-icon3: (49px, 0px, -49px, 0px, 18px, 22px, 67px, 40px, '../img/sprite.png', 'showcase-icon3', );
$spark-name: 'spark';
$spark-x: 49px;
$spark-y: 22px;
$spark-offset-x: -49px;
$spark-offset-y: -22px;
$spark-width: 16px;
$spark-height: 15px;
$spark-total-width: 67px;
$spark-total-height: 40px;
$spark-image: '../img/sprite.png';
$spark: (49px, 22px, -49px, -22px, 16px, 15px, 67px, 40px, '../img/sprite.png', 'spark', );
$stars-name: 'stars';
$stars-x: 20px;
$stars-y: 20px;
$stars-offset-x: -20px;
$stars-offset-y: -20px;
$stars-width: 29px;
$stars-height: 10px;
$stars-total-width: 67px;
$stars-total-height: 40px;
$stars-image: '../img/sprite.png';
$stars: (20px, 20px, -20px, -20px, 29px, 10px, 67px, 40px, '../img/sprite.png', 'stars', );
$spritesheet-width: 67px;
$spritesheet-height: 40px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-up, $inform-blue, $showcase-icon1, $showcase-icon2, $showcase-icon3, $spark, $stars, );
$spritesheet: (67px, 40px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
