// colors
$brown: rgb(176, 108, 81);
// colors text
$text-gray: rgb(156, 165, 184);
$text-black: rgb(69, 79, 102);  

// fonts
%GothamPro {
    font-family: "GothamPro", sans-serif;
    font-style: normal;
}
%Helvetica {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-style: normal;
}
// size
$large: 1200px;
$medium: 992px;
$small: 767px;
// flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// @mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
//     background: $bcolor;
//     -webkit-mask: url($url);
//     mask: url($url);
//     -webkit-mask-size: $x1 $y1;
//     mask-size: $x1 $y1;
//     border: $bor;
//     color: $col;
// }
