<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="js/jquery.nice-select.min.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/select2.min.js" type="text/javascript"></script>
<script src="js/jquery.phonemaskedinput.js" type="text/javascript"></script> 
<script src="js/jquery.maskMoney.min.js" type="text/javascript"></script> 
<script src="js/jquery.mask.min.js" type="text/javascript"></script>
<script src="js/calc_script.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js" type="text/javascript"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/main-old.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>