$heightSelect: 40px;


.select2 span {
    padding-right: 0!important;
}

.select2 .selection {
    width: 100%;
}

.select2-search {
    display: none!important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container {
    width: 100%!important;
    text-align: left;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    border-radius: 2px;
    height: $heightSelect;  
    padding-right: 20px;  
    outline: none!important;  
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: $heightSelect;
    line-height: $heightSelect;
    color: rgb(255, 255, 255);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: $heightSelect;
    position: absolute;
    top: 0px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    border-color:transparent;
    border-style: solid;
    border-width: 0;
    height: auto;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: 0;
    font-family: "FontAwesome5Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

    &:before {
        content: '\f0dd';
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color:transparent;
    border-style: solid;
    border-width: 0;
    &:before {
        content: '\f0de';
    }
}

// list
.select2-dropdown {
    background-color: rgb(176, 108, 81);
    border: 0px solid #aaa;
    border-radius: 4px;
}
.select2-results__option {
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: rgba(255, 255, 255, 0.5);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d8b6a8;
}