.showcase {
    height: auto;
    padding: 30px 0;
    position: relative;
    @media screen and (max-width: $small) {
        padding-top: 0;
    }
    &-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 58%;
        z-index: -1;
        @media screen and (max-width: 1400px) {
            width: 1100px;
            right: -260px;
        }
        @media screen and (max-width: 1200px) {
            width: 1030px;
            right: -260px;
        }
        @media screen and (max-width: 992px) {
            width: 950px;
            right: -320px;
        }
        @media screen and (max-width: $small) {
            width: 800px;
            right: 120px;
            position: relative;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .container {
        position: static;
        height: 100%;
        @include flex(column, space-between, flex-start);
        z-index: 2;
        @media screen and (max-width: $small) {
            display: block;
        }
    }
    .header {
        width: 100%;
        @include flex(row, space-between, center);
        @media screen and (max-width: $small) {
            position: absolute;
            width: calc(100% - 30px);
            top: 25px;
            left: 15px;            
        }
        .logo {
            width: 172px;
            height: 28px;
            @media screen and (max-width: 480px) {
                width: 50%;
            }
            img {
                width: 100%;
            }
        }  
        .nav {
            padding: 0 25px 0 150px;
            @media screen and (max-width: 992px) {
                padding: 0 25px;
            }
            @media screen and (max-width: $small) {
                display: none;
            } 
            &-item {
                display: inline-block;
                margin: 0 25px;
                font-size: 13px;
                color: $text-black;
                line-height: 1.2;
                text-align: center; 
                text-decoration: none;
                font-weight: 500;
                @media screen and (max-width: 992px) {
                    margin: 0 5px;
                }
                &.active {
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $brown;
                        left: 0;
                        bottom: -5px;
                    }
                }                 
            }
        }
        .btn {
            @media screen and (max-width: $small) {
                font-size: 11px;
                padding-left: 5px;
                padding-right: 5px;
            } 
        }      
    }
    &-content {
        padding: 180px 0 90px 0;
        // padding: 160px 0 90px 0;
        @media screen and (max-width: $small) {
            padding: 0;
        }
    }
    &-title {
        text-align: left;
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }
    &-subtitle {
        text-align: left;
        line-height: 1.8;
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }
}