.bottom-callback {
    padding: 95px 0;
    .callback-agree {
        left: 50%;
        transform: translateX(-50%);
    }
}
.section-map {
    padding: 0;
    .map {
        width: 100%;
        height: 530px;
        @media screen and (max-width: 992px) {
            height: 300px;
        }
        @media screen and (max-width: $small) {
            height: 250px;
        }
    }
}

.footer {
    padding-top: 50px;
    &-top {
        @include flex(row, space-between, flex-start);
        margin-bottom: 40px;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: $small) {
            display: block;
            padding-bottom: 40px;
            position: relative;
        }
    }
    &-col { 
        width: 25%;
        @media screen and (max-width: 992px) {
            width: 50%;
            order: 1;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            @include flex(row, space-between, flex-start);
        }
        .logo {
            margin-bottom: 20px;
            display: block;
            @media screen and (max-width: $small) {
                padding-right: 15px;
            }
        }
        .footer-text {
            margin-bottom: 10px;
            .policy {
                @media screen and (max-width: $small) {
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    left: 0px;
                }
            }
        }
        &.col3 {
            text-align: center;
            @media screen and (max-width: 992px) {
                width: 50%;
                order: 2;
            }
            @media screen and (max-width: $small) {
                display: none;
            }
            .btn {
                margin-bottom: 20px;
            }

        }
    }
    &-col2 {
        width: 50%;
        @media screen and (max-width: 992px) {
            width: 100%;
            order: 3;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            order: 2;
        }
    }
    &-text {
        font-size: 12px;
        color: rgb(193, 197, 208);
        line-height: 1.333;
        a {
        font-size: inherit;
        text-decoration: underline;
        color: $brown;
        line-height: 1.2;              
        }
    }
    &-title {
        font-size: 16px;
        color: rgb(222, 224, 230);
        line-height: 1.2;
        text-align: left; 
        margin-bottom: 10px;
        &:not(:first-child) {
            margin-top: 15px;
        }       
    }
    &-desc {
        color: #9ca5b8;
        line-height: 1.2;
        text-align: left; 
        font-size: 14px;
        margin-bottom: 5px;
    }
    &-bottom {
        background-color: #f9f5f3;
        margin-top: 40px;
        .big-contaner {
            padding: 20px 0;
            .container {
                @include flex(row, space-between, center);
            }
        }
    }
    &-copyright {
        font-size: 13px;
        color: rgb(175, 184, 199);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;     
        @media screen and (max-width: $small) {
            font-size: 11px;
        }
    }
    &-studio {
        font-size: 13px;
        color: rgb(156, 165, 184);
        line-height: 1.2;     
        position: relative;
        padding-right: 25px;
        text-decoration: none;
        @media screen and (max-width: $small) {
            font-size: 11px;
        }
        &:after {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/svg-icons/katzprod.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto auto;
        }
    }
}