.features {
    padding: 95px 0;
    @media screen and (max-width: $small) {
        padding: 30px 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: $small) {
            display: block;
        }
    }
    &-item {
        width: 25%;
        margin: 53px 0;
        padding-left: 95px;
        position: relative;
        @media screen and (max-width: 992px) {
            width: 50%;
        }
        @media screen and (max-width: $small) {
            display: block;
            width: 100%;
            min-height: 80px;
            margin: 30px 0;
            @include flex(row, flex-start, center);
        }
    }
    &-text {
        font-size: 16px;
        color: $text-black;
        line-height: 1.2;
        text-align: left;          
    }
    &-icon {
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: 65%;
        background-color: #f9f5f3;
        background-position: center center;
        background-repeat: no-repeat;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}