.problem {
    padding: 70px 0;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2100px;
        height: 650px;
        background-color: #f9f5f3;
        border-radius: 50%;
        z-index: -1;
        @media screen and (min-width: 1500px) {
            width: 2500px;
            height: 400px;
        }
    }
    .big-contaner {
        background-color: transparent;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            background-color: #f9f5f3;
            z-index: -1;
        }
    }
    &-text {
        color: $text-black;
    }
    &-content {
        @include flex(row, space-between, center);
        position: relative;
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }
    }
    &-icon {
        display: block;
        position: relative;
        width: 90px;
        height: 90px;
        background-color: #fff;
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        i {
            position: absolute;
            bottom: 10px;
            right: 5px;
            transform: translate3d(50%, 50%, 0);
            color: $brown;
            font-size: 24px;
        }
    }
    &-item {
        position: relative;
        margin: 55px 0;
    }
    &-col {
        width: 30%;
        @media screen and (max-width: 992px) {
            width: 45%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
        &1 {
            .problem-item {
                @include flex(row, flex-end, center);
                    @media screen and (max-width: $small) {
                        @include flex(row, flex-start, center);
                        order: 1;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                p {
                    text-align: right;
                    @media screen and (max-width: $small) {
                        text-align: left;
                        order: 2;
                        width: calc(100% - 95px);
                    }
                }
                .problem-icon {
                    right: 0;
                    margin-left: 15px;
                    @media screen and (max-width: $small) {
                        right: auto;
                        margin-left: 0;
                        left: 0;
                        margin-right: 15px;
                        order: 1;
                    }
                }
            }
        }
        &2 {
            .problem-item {
                @include flex(row, flex-start, center);
                p {
                    text-align: left;
                }
                .problem-icon {
                    left: 0;
                    margin-right: 15px;
                }
            }
            @media screen and (max-width: $small) {
                order: 2;
            }
        }
    }
    &-img {
        width: 40%;
        text-align: center;
        @media screen and (max-width: 992px) {
            display: none;
        }
        @media screen and (max-width: $small) {
            display: block;
            width: 100%;
            order: 3;
        }
        img {
            max-width: 100%;
        }
    }
}