.reason {
    padding: 40px 0;
    .title {
        margin-bottom: 45px;
    }
    &-item {
        width: 33.3333%;
        margin: 40px auto;
        @include flex(column, space-between, center);
        @media screen and (max-width: 992px) {
            width: 50%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
        &:hover {
            .reason-title {
                color: $brown;
            }
            .reason-icon {
                background-color: $brown;
            }
            & > div {
                box-shadow: 0px 3px 24px 0px rgba(249, 245, 243, 0.5); 
            }    
        }
        & > div {
            position: relative;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 3px 24px 0px rgba(222, 224, 230, 0.5);              
            padding: 40px 10px 20px 10px; 
            max-width: 250px;
            margin: 0 auto; 
            min-height: 230px;
        }
    }
    &-title {
        display: block;
        color: rgb(222, 224, 230);
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    &-text {
        display: block;
        text-align: center;
        font-size: 13px;
        color: $text-gray;
        line-height: 1.385;      
        margin-bottom: 15px;   
    }
    &-icon {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 50%, 0);
        margin: 0 auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-position: center center;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: rgb(222, 224, 230);
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1070px;
    }
}