.numbers {
    .big-contaner {
        padding: 80px 0 40px 0;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 950px;
    }
    &-item {
        width: 20%;
        margin: 40px 0;
        text-align: center;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    &-number {
        font-size: 36px;
        color: $brown;
        line-height: 1.2;
        text-align: center;          
        display: inline-block;
        background-color: #fff;
        border-radius: 20px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    &-text {
        font-size: 14px;
        color: $text-black;
        line-height: 1.2;
        text-align: center;          
    }
}