section.calc {
    padding-bottom: 80px;
    padding-top: 40px;
}
.calc {
    
    @media screen and (max-width: $small) {
        padding: 0;
    }
    &-title-block {
        padding-left: 50px;
        @include flex(row, space-between, center);
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }
        .title {
            width: 45%;
            text-align: left;
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
    }
    &-img {
        width: 55%;
        @media screen and (max-width: $small) {
            width: 130%;
            right: -40px;
            position: relative;
        }
        img {
            max-width: 100%;
        }
    }
    &-block {
        background-color: $brown;
        border-radius: 60px;
        padding: 50px 130px;
    }
    .btn-white {
        display: block;
        line-height: 40px;
    }
    // -------------------------------------------------------------------------------------
    .float-calc-block,
    .item {
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }

    @media only screen and (max-width: 480px) {
        .documents__btn {
            width: 290px;
        }
    }

    .calc-container {
        padding: 100px 0;
    }

    .calc__title {
        margin: 0 0 80px;
        color: #fff;
        font-size: 30px;
        text-align: center;
    }

    .calc-block {
        // max-width: 680px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 65px 145px;
        box-shadow: 0px 0px 40px 5px rgba(176, 108, 81, 0.3);        
        @media screen and (max-width: $small) {
            padding: 40px 20px;
        }
        .callback-agree {
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: $small) {
                bottom: -55px;
            }
            label {
                white-space: nowrap;
                @media screen and (max-width: $small) {
                    white-space: normal;
                }
            }
        }
    }

    .calc__btn {
        width: 285px;
    }

    .item {
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 50px;
        &.radio {
            margin-bottom: 45px;
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
    }

    .float-calc-block {
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding-top: 35px;
    }

    .desc,
    .header-calc,
    .range-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
    }

    .header-calc,
    .range-wrap {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .desc,
    .right-item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }

    .desc {
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 17px;
        max-width: 90%;
        margin-left: 12px;
        margin-right: 12px;
    }

    .conditions__wrapper,
    .right-item {
        display: -webkit-box;
        display: -ms-flexbox;
    }

    .desc > div {
        color: rgb(135, 77, 54) !important;      
        font-size: 14px;             
    }

    .right-item {
        width: 470px;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .right-item.navig {
        background: transparent;
        border-radius: 0;
    }

    label[for='ruble'],
    label[for='ruble-modal']  {
        width: 30%;
    }

    label[for='ruble']:before,
    label[for='ruble-modal']:before {
        left: 30px;
        background: url(../img/svg-icons/rub_btn.svg);
    }

    label[for='ruble'] span,
    label[for='usd'] span,
    label[for='eur'] span,
    label[for='ruble-modal'] span,
    label[for='usd-modal'] span,
    label[for='eur-modal'] span {
        margin-left: 35px;
    }

    label[for='usd'],
    label[for='usd-modal'] {
        width: 40%;
    }

    label[for='usd']:before,
    label[for='usd-modal']:before {
        left: 20px;
        background: url(../img/svg-icons/dollar_btn.svg);
    }

    label[for='eur'],
    label[for='eur-modal'] {
        padding-right: 45px;
        width: 30%;
    }

    label[for='eur']:before,
    label[for='eur-modal']:before {
        left: 35px;
        background: url(../img/svg-icons/euro_btn.svg);
    }

    label[for='ruble'],
    label[for='usd'],
    label[for='eur'],
    label[for='ruble-modal'],
    label[for='usd-modal'],
    label[for='eur-modal'] {
        position: relative;
    }

    label[for='ruble']:before,
    label[for='usd']:before,
    label[for='eur']:before,
    label[for='ruble-modal']:before,
    label[for='usd-modal']:before,
    label[for='eur-modal']:before {
        content: '';
        width: 17px;
        height: 22px;
        top: calc(50% - 11px);
        position: absolute;
    }

    .calc-block .calc .item > span {
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
    }

    .calc-block .calc .item.radio .right-item [type='radio'] {
        display: none;
    }

    .calc-block .calc .item.radio .right-item [type='radio']:checked + label[for='eur']:before,
        .calc-block .calc .item.radio .right-item [type='radio']:checked + label[for='eur-modal']:before {
        background: url(../img/svg-icons/euro_btn-active.svg);
    }

    .calc-block .calc .item.radio .right-item [type='radio']:checked + label[for='ruble']:before,
        .calc-block .calc .item.radio .right-item [type='radio']:checked + label[for='ruble-modal']:before {
        background: url(../img/svg-icons/rub_btn-active.svg);
    }

    .calc-block .calc .item.radio .right-item [type='radio']:checked + label[for='usd']:before,
        .calc-block .calc .item.radio .right-item [type='radio']:checked + label[for='usd-modal']:before {
        background: url(../img/svg-icons/dollar_btn-active.svg);
    }

    .calc-block .calc .item.radio .right-item [type='radio']:checked + label {
        background-color: transparent;
        color: #fff;
    }

    .calc-block .calc .item.radio .right-item [type='radio']:checked + label span {
        border-bottom: 2px solid #d8b6a8;
    }

    .calc-block .calc .item.radio .right-item label {
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding: 0;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.702);
        text-transform: uppercase;
        line-height: 3.692;  
        @media screen and (max-width: 480px) {
            white-space: nowrap;
        }        
    }

    .calc-block .calc .item.radio .right-item label span {
        padding-bottom: 4px;
        border-bottom-color: transparent;
    }

    .calc-block .calc .item .right-item output input {
        width: 200px;
        border: 0;
        border-bottom: 3px solid #d8b6a8;
        border-radius: 0;
        font-size: 14px;
        color: #fff;
        padding: 8.5px 30px;
        background-color: transparent;
    }

    .calc-block .calc .item .right-item output {
        position: relative;
    }

    .calc-block .calc .item .right-item output i {
        right: 20px;
        top: calc(50% - 8px);
        position: absolute;
        color: #d8b6a8;
        display: block;
    }

    input[type='range']:focus {
        outline: 0;
    }

    .calc-block .calc input[type='range'] {
        -webkit-appearance: none;
        width: 235px;
        margin: 0 10px;
        background: 0 0;
        border: 0;
    }

    .calc-block .calc input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        position: relative;
        // height: 93px;
        // width: 94px;
        height: 25px;
        width: 25px;
        cursor: pointer;
        top: -12.5px;
        background-color: $brown;
        border-radius: 50%;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.3); 
    }

    .calc-block .calc input[type='range']::-webkit-slider-runnable-track {
        width: 235px;
        height: 3px;
        border-radius: 8px;
        cursor: pointer;
        border: 0;
        background: #874d36;
        position: relative;
    }

    .header-calc .header {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }

    .header-calc .value {
        font-size: 36px;
        color: #874d36;
        line-height: 1.2;
    }

    .currency__wrapper {
        position: relative;
        display: inline-table;
    }

    .currency {
        position: absolute;
        top: 5px;
        right: -20px;
        display: block;
        color: #874d36;
    }

    @media only screen and (max-width: 768px) {
        .item,
        .right-item {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
        }

        .float-calc-block,
        .item,
        .navig,
        .right-item {
            -webkit-box-direction: normal;
        }

        .radio > span {
            display: none;
        }

        .item {
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

        .calc-block .calc .item .right-item output input {
            width: 100%;
        }

        .right-item {
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
        }

        .navig {
            -webkit-box-orient: horizontal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .calc-block .calc input[type='range'] {
            width: 100%;
            margin: 0;
        }

        .calc-block .calc .item .right-item output {
            margin-top: 35px;
        }

        .calc-block .calc .item > span {
            margin-bottom: 20px;
        }

        .float-calc-block {
            -webkit-box-orient: vertical;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .header-calc {
            padding-bottom: 35px;
        }
    }

    @media only screen and (max-width: 480px) {
        .calc-block .calc .item.radio .right-item label {
            padding: 20px 0;
        }

        .calc-block .calc .item.radio .right-item label span {
            margin-left: 0;
        }

        label[for='ruble']:before,
        label[for='usd']:before,
        label[for='eur']:before,
        label[for='ruble-modal']:before,
        label[for='usd-modal']:before,
        label[for='eur-modal']:before {
            content: none;
        }
    }
}