.partners {
    .big-contaner {
        padding: 75px 0;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    &-item {
        width: 16.6666%;
        height: 70px;
        @include flex(row, center, center);
        margin: 20px 0;
        filter: grayscale(100%);
        transition: ease-out 0.2s;
        opacity: .3;
        @media screen and (max-width: 992px) {
            width: 33.3333%;
        }
        @media screen and (max-width: $small) {
            width: 50%;
        }
        &:hover {
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 20px 10px rgba(176, 108, 81, .2);
            filter: grayscale(0%);
            opacity: 1;
            cursor: pointer;
        }
        img {
            width: auto;
            max-width: 100%;
        }
    }
}