.conditions {
    padding: 85px 0 60px 0;
    .container {
        text-align: center;
        img {
            max-width: 100%;
            @media screen and (max-width: $small) {
                max-width: 150%;
                width: 150%;
                margin-left: -25%;
            }
        }
    }
    &-content {
        @include flex(row, space-between, flex-start);
        margin: 70px 0 30px 0;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: $small) {
            display: block;
        }
    }
    &-item {
        position: relative;
        @media screen and (max-width: 992px) {
            width: 33.3333%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            display: block;
            margin-bottom: 35px;
        }
        &:not(:last-child):after {
            content: '';
            display: block;
            position: absolute;
            top: 20px;
            left: 40px;
            width: 200px;
            height: 1px;
            background-image: url(../img/conditions-after.png);
            background-position: center left;
            background-size: auto;
            background-repeat: repeat-x;
            @media screen and (max-width: 992px) {
                display: none;
            }
        }
        &:last-child {
            background-color: #ffffff;            
            .conditions-number {
                box-shadow: 0px 0px 20px 5px rgba(176, 108, 81, 0.3);                
                background-color: $brown;
                color: white;
            }
        }
    }
    &-number {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(247, 240, 237);
        text-align: center;
        font-size: 14px;
        color: $brown;
        line-height: 40px;
        margin-bottom: 15px;
        @media screen and (max-width: $small) {
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
    &-text {
        font-size: 13px;
        color: $text-gray;
        line-height: 1.2;
        text-align: left;
        @media screen and (max-width: $small) {
            text-align: center;
        }          
    }
}