.review {
    .big-contaner {
        padding: 85px 0 55px 0;

    }
    .review-carousel {
        padding-bottom: 75px;
    }
    &-item {
        padding-left: 85px;
        padding-top: 55px;
        position: relative;
        @media screen and (max-width: $small) {
            padding-left: 0;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;            
            left: 0;
            top: 190px;
            width: 60px;
            height: 40px;
            background-image: url('../img/review-before.svg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: auto auto;
            @media screen and (max-width: $small) {
                top: 160px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &-img {
        width: 80px;
        height: 80px;
        display: block;
        box-shadow: 0px 0px 50px 5px rgba(176, 108, 81, 0.5);
        border-radius: 50%;
        overflow: hidden;   
        margin-bottom: 50px;
        position: relative;
        @media screen and (max-width: $small) {
            margin: 0 auto;
            margin-bottom: 80px;
            box-shadow: 0px 0px 30px 10px rgb(234, 216, 209);
        }
        &:before {
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            position: absolute;
            
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            z-index: -1;
        }
        img {
            width: 100%;
        }     
    }
    &-text {
        margin-bottom: 15px;
        p {
            font-size: 14px;
            color: $text-gray;
            line-height: 1.714;
            text-align: left;
            margin-bottom: 15px;
            @media screen and (max-width: $small) {
                text-align: center;
            }
        }
    }
    &-name {
        color: $brown;
        font-size: 16px;
        margin-bottom: 10px;
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }
    &-date {
        font-size: 12px;    
        @extend %Helvetica;
        font-weight: 300;
        color: rgb(208, 210, 217);
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }
}