.header {
    z-index: 1;
}
.page-article {
    .showcase-img {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}
.article {
    z-index: 2;
    width: 100%;
    background-color: #fff;
    padding-top: 115px;
    padding-bottom: 70px;
    &-content {
        margin: 0 auto;
        width: 100%;
        max-width: 860px;
        padding: 0 15px;
    }
    li {
        color: $brown;
        i {
            position: relative;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            font-size: 8px;
            color: $brown;
            padding-right: 15px;
        }
    }
    p {
        font-size: 16px;
        color: rgb(156, 165, 184);
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        margin: 15px 0;
        font-weight: 400;
        @media screen and (max-width: $small) {
            font-size: 14px;
        }
        &.article-subtitle {
            color: rgb(69, 79, 102);
        }
        a {
            color: $brown;
            text-decoration: underline;
        }
    }
    .title {
        font-size: 36px;
        color: $text-black;
        line-height: 1.2;
        text-align: center;   
        margin: 0 auto;
        max-width: 700px;
        margin-bottom: 50px;   
        @media screen and (max-width: $small) {
            font-size: 24px;
            text-align: center;
        }
    }
}