.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    &.opened {
        display: block;
    }
    div.white {
		color: #fff!important;
	}
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1;
    }
    &-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background-color: $brown;
        border-radius: 60px;
        padding: 85px 70px 60px 70px;
        width: calc(100% - 40px);
        max-width: 770px;
        z-index: 2;
        text-align: center;
        &.big-form {
            top: 40px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            padding: 30px 100px;
		}
		@media screen and (max-width: 767px) {
			padding: 65px 25px 25px 25px;
		}
		.item {
			margin: 0 auto;
			margin-bottom: 50px;
			max-width: 730px;
			@media screen and (max-width: $small) {
				width: 100%;
				max-width: 260px;
			}
		}
    }
    &-close {
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
        height: 35px;
        width: 35px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        cursor: pointer;
        i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            font-size: 24px;
            color: $brown;
        }
    }
    &-title {
        font-size: 36px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center; 
		margin-bottom: 25px;   
		@media screen and (max-width: $small) {
			font-size: 24px;
		}
    }
    &-subtitle {
        font-size: 16px;
        color: rgb(216, 182, 168);
        line-height: 1.2; 
		margin-bottom: 30px;
		@media screen and (max-width: $small) {
			font-size: 14px;
		}         
    }
    
    .callback {
        @include flex(column, flex-start, center);
        padding: 0;
        max-width: 320px;
        margin: 0 auto;
        position: static;
        &-input {
            width: 100%;
            margin-bottom: 30px;
        }
        &-agree {
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            label {
                white-space: nowrap;
            }
        }
	}
	.callback-agree {
		@media screen and (max-width: 480px) {
			bottom: -70px;
		}
	}
}

// big modal
.additionally-info_wrapper {
	background: #fff;
	padding: 50px 0;
}

.additionally-info_content {
	max-width: 770px;
	margin: 0 auto;
}

.additionally-info_title {
	padding-top: 30px;
	text-align: center;
}

.custom-input {
	width: 100%;
	border: 2px solid #ebebeb;
	border-radius: 50px;
	background: 0 0;
	outline: 0;
	padding: 22px 30px;
}

.custom-input:focus {
	border: 2px solid #7ea5fb;
}

.custom-select {
	border: 2px solid #ebebeb;
	border-radius: 50px;
	padding: 22px 55px 22px 30px;
	height: 64px;
	line-height: 14px;
}

.custom-select.open,
.custom-select:active,
.custom-select:focus {
	border-color: #7ea5fb;
}

.custom-select .list {
	width: 100%;
	max-height: 200px;
	overflow: scroll;
}

.custom-select:after {
	right: 30px;
}

.custom-select--wide {
	width: 100%;
}

.custom-select--margin {
	margin-left: 15px;
}

.additionally-info_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 25px;
}

.additionally-info_control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 450px;
}

.additionally-info_text {
	font-size: 20px;
	font-family: RubikRegular;
	color: #000;
	line-height: 1.2;
	text-align: left;
}

.custom-radio {
	height: 64px;
	padding: 3px;
	background: #fff;
	border-radius: 50px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.custom-radio input {
	display: none;
}

.custom-radio label,
.getback-btn {
	font-size: 14px;
	font-family: RubikMedium;
	text-transform: uppercase;
	display: block;
}

.custom-radio input:checked + label {
	background: #4181f9;
	color: #fff;
}

.disable,
.disabled,
.divider {
	background: #ebebeb;
}

.custom-radio label {
	width: 50%;
	text-align: center;
	line-height: 64px;
	height: 100%;
	color: #4181fa;
}

.custom-radio label .custom-radio-text {
	padding-bottom: 3px;
	border-bottom: 2px solid rgba(65, 129, 250, 0.25);
}

.custom-radio label:nth-child(2) {
	border-radius: 50px 0 0 50px;
}

.custom-radio label:last-child {
	border-radius: 0 50px 50px 0;
}

.custom-radio label:hover {
	cursor: pointer;
}

.custom-radio label[for='officially'] {
	width: 37%;
}

.custom-radio label[for='unofficially'] {
	width: 41%;
}

.custom-radio label[for='hasntwork'] {
	width: 22%;
}

.divider {
	width: 100%;
	height: 1px;
	margin: 30px 0;
}

.additionally-info__agreement {
	max-width: 272px;
	margin: 0 auto;
}

.additionally-info__btn {
	margin: 55px auto 20px;
}

#privacy-popup .container,
#privacy-popup--main .container {
	padding: 50px 0;
	background: #fff;
}


.additionally-info_item.additionally-info_item--checkboxes:hover .nice-select:first-child {
	pointer-events: all !important;
	border-color: #000;
	color: #999;
}

.additionally-info_item--checkboxes .nice-select:hover {
	border-color: #ededed;
	color: #999;
	pointer-events: all !important;
}

@media only screen and (max-width: 992px) {
	.additionally-info_content,
	.privacy__wrapper {
		padding: 0 15px;
	}
}

@media only screen and (max-width: 768px) {
	.additionally-info_control,
	.additionally-info_item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.additionally-info_control {
		width: 90%;
	}

	.custom-select--margin {
		margin: 0;
	}

	.custom-input,
	.custom-radio {
		margin: 15px 0;
	}

	.custom-radio {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.custom-radio label {
		font-size: 12px;
	}

	.custom-select--wide {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 480px) {
	.additionally-info__btn {
		width: 250px;
	}

	.custom-radio label {
		font-size: 8px;
	}
}


// 
.modal-big {
	overflow-x: hidden;
	overflow-y: scroll;
    .modal-window {
        width: calc(100% - 30px);
        max-width: 970px;
        padding: 30px 0;
		margin: 0;
		top: 30px;
		transform: translate3d(-50%, 0, 0);
		&.calc-block {
			margin-bottom: 65px;
		}
		@media screen and (max-width: $small) {
			padding-top: 65px;
		}
	}
	.callback {
		padding-top: 40px;
	}
	.content {
		padding: 0 130px;
		padding-bottom: 25px;
		@media screen and (max-width: 1400px) {
			padding: 0 40px;
		}
		@media screen and (max-width: $small) {
			padding: 15px;
		}
	}
    .calc {
        margin: 0;
        max-width: 100%;
    }
	.item-name {
		width: 260px;
		text-align: left;
		color: #fff;
		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}
	&.calc .calc-block .calc .item .right-item  {
		output {
			width: 100%;
			input {
				width: 100%;
				padding-left: 0;
			}
		}
		.range-wrap {
			width: 100%;
			max-width: 100%;
			.desc {
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;
			}
			input[type='range'] {
				width: 100%;
				margin: 0;
			}
		}
	}
	.form-bottom {
		padding-top: 60px;

		.right-item {
			@include flex(row, space-between, center);
			@media screen and (max-width: $small) {
				@include flex(column, flex-start, flex-start);
			}
			input[type=checkbox] {
				display: none;
			}
			label {
				text-align: center;
				display: inline-block;
				cursor: pointer;
				padding: 0;
				font-size: 13px;
				color: rgba(255, 255, 255, 0.702);
				text-transform: uppercase;
				line-height: 3.692;
				width: 120px;
				text-align: left;
				height: 40px;
				&:before {
					display: none!important;
				}
				span {
					line-height: 2;
					display: inline-block;
					font-size: 14px;
				}
			}
			input[type=checkbox]:checked + label {
				color: #fff;
				span {
					border-bottom: 2px solid #d8b6a8;
				}
			}
			select+span {
				width: calc(100% - 120px);
			}
		}
	 }
	//  article 
	.article {
		background-color: transparent;
		P {
			color: #fff;
			&.article-subtitle {
				color: #fff;
			}
		}
	}
	// btn
	.btn {
		min-width: 270px;
		display: inline-block;
		@media screen and (max-width: 480px) {
			min-width: 150px;
			width: 150px!important;
		}
	}
	hr {
		display: block;
		background-color: rgb(135, 77, 54);
		height: 1px;
		width: 100%;
		top: 15px;  
		border: 0;
	}
}
