<section class="section calc-container calc" id="anchor-calc">
    <div class="container">
        <div class="calc-block">
            <div class="calc" id="calc">
                <form class="form-default" id="calc-form">
                    <!--hidden required fields-->
                    <input type="hidden" name="project_name" value="finardi">
                    <input type="hidden" name="admin_email" value="finardi@finardi.ru">
                    <input type="hidden" name="form_subject" value="Обратная свзять с сайта finardi">
                    <!--end hidden-->
                    <div id="append-form-container"></div>
                    <div class="item radio"><span>Валюта</span>
                        <div class="right-item navig">
                            <input id="ruble" type="radio" name="Валюта_в_калькуляторе" value="rub" checked="">
                            <label for="ruble"><span>Рубли</span></label>
                            <input id="usd" type="radio" name="Валюта_в_калькуляторе" value="usd">
                            <label for="usd"><span>Доллары сша</span></label>
                            <input id="eur" type="radio" name="Валюта_в_калькуляторе" value="eur">
                            <label for="eur"><span>Евро</span></label>
                        </div>
                    </div>
                    <div class="item"><span>Сумма кредита</span>
                        <div class="right-item">
                            <div class="range-wrap">
                                <div class="desc">
                                    <div class="l" id="credit-min-value">150 000</div>
                                    <div class="r" id="credit-max-value">10 000 000</div>
                                </div>
                                <input id="amount-credit" type="range" min="150000" max="10000000" value="2000000">
                            </div>
                            <output>
                              <div id="amount-credit-name"><img src="img/rub_btn.svg"></div>
                              <input id="amount-credit-input" type="text" min="150000" value="2 000 000" name="Сумма_кредита">
                            </output>
                        </div>
                    </div>
                    <div class="item"><span>Ставка кредита</span>
                        <div class="right-item">
                            <div class="range-wrap">
                                <div class="desc">
                                    <div class="l">1%</div>
                                    <div class="r">60%</div>
                                </div>
                                <input id="loan-rate" type="range" min="1" max="60" step="1" value="12" name="Ставка_кредита">
                            </div>
                            <output><img src="https://www.zalog.finardi.ru/static/img/i-2.svg">
                              <input id="loan-rate-input" type="text" min="1" max="60" step="1" value="12">
                            </output>
                        </div>
                    </div>
                    <div class="item"><span>Срок кредита</span>
                        <div class="right-item">
                            <div class="range-wrap">
                                <div class="desc">
                                    <div class="l">2 месяца</div>
                                    <div class="r">240 месяцев</div>
                                </div>
                                <input id="credit-term" type="range" min="2" max="240" value="240" name="Cрок_кредита">
                            </div>
                            <output><img src="https://www.zalog.finardi.ru/static/img/i-3.svg">
                              <input id="credit-term-input" type="text" min="2" max="240" value="240">
                            </output>
                        </div>
                    </div>
                    <div class="float-calc-block">
                        <div class="header-calc"><span class="header">Ежемесячный платёж</span>
                            <output class="currency__wrapper"><span class="value">22 021,72</span><span class="currency"><img src="https://www.zalog.finardi.ru/static/img/ruble-w.svg"></span></output>
                        </div>
                    </div>
                    <div class="callback-agree">
                        <input type="checkbox" name="agree" id="agree1">
                        <label for="agree1">Я даю согласие ООО «Финарди» на обработку моих <a href="#">персональных даных</a></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>