<section class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-col">
                    <a href="#" class="logo">
                        <img src="img/logo.png" alt="finardi">
                    </a>
                    <p class="footer-text">Получить ипотеку на вторичное жилье или новостройку в Москве</p>
                    <p class="footer-text">
                        <a href="/privacy_policy.html" class="policy">Политика конфиденциальности</a>
                    </p>
                </div>
                <div class="footer-col2">
                    <p class="footer-title">Приходите в офис:</p>
                    <p class="footer-desc">105037, г. Москва, ул. Авиамоторная, д. 12, оф. 718</p>
                    <p class="footer-desc">123056, г. Москва ул. Грузинский Вал, д. 11, стр. 3, под. 3, оф. 19</p>
                    <p class="footer-title">Юридический адрес:</p>
                    <p class="footer-desc">119619, г. Москва, Боровский пр., 11, пом. II, оф. 6П</p>
                </div>
                <div class="footer-col col3">
                    <a href="tel: 74956402000" class="btn btn-brown"><i class="fas fa-phone"></i> +7 (495) 640-2000</a>
                    <p class="footer-text">
                        Пишите: 
                        <a href="mailto: finardi@finardi.ru">finardi@finardi.ru</a>
                    </p>
                    <p class="footer-text">
                        Сайт:
                        <a href="www.finardi.ru">www.finardi.ru</a>
                    </p>
                </div>
            </div>
            <p class="footer-text">
                Условия получения (данное предложение не является офертой): 1. Сумма от 30 000 р. до 300 000 000 р. под 7-36%/годовых (с учетом ФЗ №353) на срок от 61 дня до 30 лет, сумма неустойка за просрочку - 0,1% от суммы просрочки, но не более 10% от суммы кредита. Досрочное погашение с 1-го месяца без штрафов и комиссий. 2. Пример расчета кредита: получаете 1 000 000 р. на 12 месяцев под 13,5%/годовых без комиссий - переплата составит 74 624 р. 36 коп., всего возвращаете 1 074 624 р. 36 коп. Воспользуйтесь выше нашим калькулятором! 3. Последствия невыплаты заёмных средств: в случае невозврата кредитор начислит штраф за просрочку, но большинство идет на встречу и дают три рабочих дня для оплаты (например, перевод занял больше времени или поздно отправили сумму). Если от вас не будет никакого ответа - будет начислена штраф за просрочку: в среднем 0,1% от суммы кредита, будет поставлена отметки в БКИ, а задолженность могут передать коллекторам. О дате платежа вы можете быть информированы через СМС и электронную почту. Вносите платеж заранее - сохраните себе хорошую кредитную историю и получите преференции от банков! 4. Номера лицензий организаций-партнеров: 3344, 3255, 316, 1942, 1, 3279, 2557, 436, 1000, 1623, 1978, 1439, 2210, 3311, 2590, 2289, 2209, 354, 3016, 2272, 2306, 323, 3431, 3292, 3251, 2707, 3349, 1326, 1481, 2312, 2275, 2268, 2766, 3138.
            </p>
            <div class="footer-informers">

            </div>
        </div>
        <div class="footer-bottom">
            <div class="big-contaner">
                <div class="container">
                    <p class="footer-copyright">© ООО «ФИНАРДИ» 2014-2018</p>
                    <a href="" class="footer-studio">designed & developed</a>
                </div>
            </div>
        </div>
    </section>