<div class="header">
    <a href="#" class="logo">
        <img src="img/logo.png" alt="finardi">
    </a>
    <div class="nav">
        <a href="#calc" class="link nav-item">Калькулятор</a>
        <a href="#partners" class="link nav-item">Наши партнеры</a>
        <a href="#review" class="link nav-item">Отзывы</a>
    </div>
    <a href="tel: 74956402000" class="btn btn-brown"><i class="fas fa-phone"></i> +7 (495) 640-2000</a>
</div>