<div class="modal" id="modalLast">
    <div class="modal-overlay"></div>
    <div class="modal-window">
        <div class="modal-close">
            <i class="fas fa-times"></i>
        </div>
        <p class="modal-title">Спасибо, ваша заявка принята!</p>
        <p class="modal-subtitle">Наши консультанты свяжутся с вами в ближайшее время.</p>
    </div>
</div>