<div class="modal" id="modalPhone">
    <div class="modal-overlay"></div>
    <div class="modal-window">
        <div class="modal-close">
            <i class="fas fa-times"></i>
        </div>
        <div class="additionally-info_wrapper">
            <div class="additionally-info_content">
                <div class="process__subtitle">Спасибо, ваша заявка принята! <br>наши консультанты свяжутся с вами в ближайшее время</div>
                <div class="additionally-info_title title left-decor left-decor--center-blue"> <span class="bold">Увеличьте шансы</span> на одобрение, сообщив дополнительную информацию:</div>
                <form class="additionally-send">
                    <!--hidden required fields-->
                    <input type="hidden" name="project_name" value="finardi">
                    <input type="hidden" name="admin_email" value="finardi@finardi.ru">
                    <input type="hidden" name="form_subject" value="Обратная свзять с сайта finardi">
                    <!--end hidden-->
                    <input class="form__input" type="hidden" required="" name="Имя" value="test">
                    <input class="form__input" type="hidden" required="" name="Телефон" value="+79999999">
                    <input class="form__input" type="hidden" required="" name="Валюта_в_калькуляторе" value="">
                    <input class="form__input" type="hidden" required="" name="Сумма_кредита" value="">
                    <input class="form__input" type="hidden" required="" name="Ставка_кредита" value="">
                    <input class="form__input" type="hidden" required="" name="Cрок_кредита" value="">
                    <div class="additionally-info_item">
                        <div class="additionally-info_text">Какая сумма вам требуется?</div>
                        <div class="additionally-info_control">
                            <input class="custom-input" type="text" placeholder="Введите сумму" name="Сумма">
                            <select class="custom-select custom-select--margin" name="валюта" style="display: none;">
                                <option value="rub">Рублей</option>
                                <option value="usd">Долларов</option>
                                <option value="eur">Евро</option>
                            </select>
                            <div class="nice-select custom-select custom-select--margin" tabindex="0"><span class="current">Долларов</span>
                                <ul class="list">
                                    <li data-value="rub" class="option">Рублей</li>
                                    <li data-value="usd" class="option selected">Долларов</li>
                                    <li data-value="eur" class="option focus">Евро</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="additionally-info_item">
                        <div class="additionally-info_text">На что нужны деньги?</div>
                        <div class="additionally-info_control">
                            <input class="custom-input" type="text" placeholder="Цель кредита" name="Цель_кредита">
                        </div>
                    </div>
                    <div class="additionally-info_item">
                        <div class="additionally-info_text">Вы работаете ?</div>
                        <div class="additionally-info_control custom-radio">
                            <input type="radio" name="Работа" value="Официально" checked="" id="officially">
                            <label for="officially"> <span class="custom-radio-text">Официально</span></label>
                            <input type="radio" name="Работа" value="Неофициально" id="unofficially">
                            <label for="unofficially">Неофициально<span class="custom-radio-text"> </span></label>
                            <input type="radio" name="Работа" value="Нет" id="hasntwork">
                            <label for="hasntwork"> <span class="custom-radio-text">Нет</span></label>
                        </div>
                    </div>
                    <div class="additionally-info_item">
                        <div class="additionally-info_text">Открытые просрочки</div>
                        <div class="additionally-info_control custom-radio">
                            <input type="radio" name="просрочки" value="Есть" id="have-arrears">
                            <label for="have-arrears"><span class="custom-radio-text">есть</span></label>
                            <input type="radio" name="просрочки" value="Отсутствуют" checked="" id="hasnt-arrears">
                            <label for="hasnt-arrears"> <span class="custom-radio-text">отсутствуют</span></label>
                        </div>
                    </div>
                    <div class="additionally-info_item">
                        <div class="additionally-info_text">Где вы прописаны ?</div>
                        <div class="additionally-info_control">
                            <select class="custom-select custom-select--wide" name="Прописка" style="display: none;">
              <option disabled="" selected="">Выберите регион
                </option><option>Москва </option>
                <option>Московская область </option>
                <option>Адыгея </option>
                <option>Алтай </option>
                <option>Алтайский край </option>
                <option>Амурская область </option>
                <option>Архангельская область </option>
                <option>Астраханская область </option>
                <option>Башкортостан </option>
                <option>Белгородская область </option>
                <option>Брянская область </option>
                <option>Бурятия </option>
                <option>Владимирская область </option>
                <option>Волгоградская область </option>
                <option>Вологодская область </option>
                <option>Воронежская область </option>
                <option>Дагестан </option>
                <option>Еврейская АО </option>
                <option>Забайкальский край </option>
                <option>Ивановская область </option>
                <option>Ингушетия </option>
                <option>Иркутская область </option>
                <option>Кабардино-Балкария </option>
                <option>Калининградская область </option>
                <option>Калмыкия </option>
                <option>Калужская область </option>
                <option>Камчатский край </option>
                <option>Карачаево-Черкесия </option>
                <option>Карелия </option>
                <option>Кемеровская область </option>
                <option>Кировская область </option>
                <option>Коми </option>
                <option>Костромская область </option>
                <option>Краснодарский край </option>
                <option>Красноярский край </option>
                <option>Крым </option>
                <option>Курганская область </option>
                <option>Курская область </option>
                <option>Ленинградская область </option>
                <option>Липецкая область </option>
                <option>Магаданская область </option>
                <option>Марий Эл </option>
                <option>Мордовия </option>
                <option>Мурманская область </option>
                <option>Ненецкий АО </option>
                <option>Нижегородская область </option>
                <option>Новгородская область </option>
                <option>Новосибирская область </option>
                <option>Омская область </option>
                <option>Оренбургская область </option>
                <option>Орловская область </option>
                <option>Пензенская область </option>
                <option>Пермский край </option>
                <option>Приморский край </option>
                <option>Псковская область </option>
                <option>Ростовская область </option>
                <option>Рязанская область </option>
                <option>Самарская область </option>
                <option>Санкт-Петербург </option>
                <option>Саратовская область </option>
                <option>Саха (Якутия) </option>
                <option>Сахалинская область </option>
                <option>Свердловская область </option>
                <option>Севастополь </option>
                <option>Северная Осетия — Алания </option>
                <option>Смоленская область </option>
                <option>Ставропольский край </option>
                <option>Тамбовская область </option>
                <option>Татарстан </option>
                <option>Тверская область </option>
                <option>Томская область </option>
                <option>Тульская область </option>
                <option>Тыва </option>
                <option>Тюменская область </option>
                <option>Удмуртия </option>
                <option>Ульяновская область </option>
                <option>Хабаровский край </option>
                <option>Хакасия </option>
                <option>Ханты-Мансийский АО — Югра </option>
                <option>Челябинская область </option>
                <option>Чечня </option>
                <option>Чувашия </option>
                <option>Чукотский АО </option>
                <option>Ямало-Ненецкий АО </option>
                <option>Ярославская область</option>
              
            </select>
                            <div class="nice-select custom-select custom-select--wide open" tabindex="0"><span class="current">Выберите регион
                </span>
                                <ul class="list">
                                    <li data-value="Выберите регион" class="option selected disabled focus">Выберите регион
                                    </li>
                                    <li data-value="Москва" class="option">Москва </li>
                                    <li data-value="Московская область" class="option">Московская область </li>
                                    <li data-value="Адыгея" class="option">Адыгея </li>
                                    <li data-value="Алтай" class="option">Алтай </li>
                                    <li data-value="Алтайский край" class="option">Алтайский край </li>
                                    <li data-value="Амурская область" class="option">Амурская область </li>
                                    <li data-value="Архангельская область" class="option">Архангельская область </li>
                                    <li data-value="Астраханская область" class="option">Астраханская область </li>
                                    <li data-value="Башкортостан" class="option">Башкортостан </li>
                                    <li data-value="Белгородская область" class="option">Белгородская область </li>
                                    <li data-value="Брянская область" class="option">Брянская область </li>
                                    <li data-value="Бурятия" class="option">Бурятия </li>
                                    <li data-value="Владимирская область" class="option">Владимирская область </li>
                                    <li data-value="Волгоградская область" class="option">Волгоградская область </li>
                                    <li data-value="Вологодская область" class="option">Вологодская область </li>
                                    <li data-value="Воронежская область" class="option">Воронежская область </li>
                                    <li data-value="Дагестан" class="option">Дагестан </li>
                                    <li data-value="Еврейская АО" class="option">Еврейская АО </li>
                                    <li data-value="Забайкальский край" class="option">Забайкальский край </li>
                                    <li data-value="Ивановская область" class="option">Ивановская область </li>
                                    <li data-value="Ингушетия" class="option">Ингушетия </li>
                                    <li data-value="Иркутская область" class="option">Иркутская область </li>
                                    <li data-value="Кабардино-Балкария" class="option">Кабардино-Балкария </li>
                                    <li data-value="Калининградская область" class="option">Калининградская область </li>
                                    <li data-value="Калмыкия" class="option">Калмыкия </li>
                                    <li data-value="Калужская область" class="option">Калужская область </li>
                                    <li data-value="Камчатский край" class="option">Камчатский край </li>
                                    <li data-value="Карачаево-Черкесия" class="option">Карачаево-Черкесия </li>
                                    <li data-value="Карелия" class="option">Карелия </li>
                                    <li data-value="Кемеровская область" class="option">Кемеровская область </li>
                                    <li data-value="Кировская область" class="option">Кировская область </li>
                                    <li data-value="Коми" class="option">Коми </li>
                                    <li data-value="Костромская область" class="option">Костромская область </li>
                                    <li data-value="Краснодарский край" class="option">Краснодарский край </li>
                                    <li data-value="Красноярский край" class="option">Красноярский край </li>
                                    <li data-value="Крым" class="option">Крым </li>
                                    <li data-value="Курганская область" class="option">Курганская область </li>
                                    <li data-value="Курская область" class="option">Курская область </li>
                                    <li data-value="Ленинградская область" class="option">Ленинградская область </li>
                                    <li data-value="Липецкая область" class="option">Липецкая область </li>
                                    <li data-value="Магаданская область" class="option">Магаданская область </li>
                                    <li data-value="Марий Эл" class="option">Марий Эл </li>
                                    <li data-value="Мордовия" class="option">Мордовия </li>
                                    <li data-value="Мурманская область" class="option">Мурманская область </li>
                                    <li data-value="Ненецкий АО" class="option">Ненецкий АО </li>
                                    <li data-value="Нижегородская область" class="option">Нижегородская область </li>
                                    <li data-value="Новгородская область" class="option">Новгородская область </li>
                                    <li data-value="Новосибирская область" class="option">Новосибирская область </li>
                                    <li data-value="Омская область" class="option">Омская область </li>
                                    <li data-value="Оренбургская область" class="option">Оренбургская область </li>
                                    <li data-value="Орловская область" class="option">Орловская область </li>
                                    <li data-value="Пензенская область" class="option">Пензенская область </li>
                                    <li data-value="Пермский край" class="option">Пермский край </li>
                                    <li data-value="Приморский край" class="option">Приморский край </li>
                                    <li data-value="Псковская область" class="option">Псковская область </li>
                                    <li data-value="Ростовская область" class="option">Ростовская область </li>
                                    <li data-value="Рязанская область" class="option">Рязанская область </li>
                                    <li data-value="Самарская область" class="option">Самарская область </li>
                                    <li data-value="Санкт-Петербург" class="option">Санкт-Петербург </li>
                                    <li data-value="Саратовская область" class="option">Саратовская область </li>
                                    <li data-value="Саха (Якутия)" class="option">Саха (Якутия) </li>
                                    <li data-value="Сахалинская область" class="option">Сахалинская область </li>
                                    <li data-value="Свердловская область" class="option">Свердловская область </li>
                                    <li data-value="Севастополь" class="option">Севастополь </li>
                                    <li data-value="Северная Осетия — Алания" class="option">Северная Осетия — Алания </li>
                                    <li data-value="Смоленская область" class="option">Смоленская область </li>
                                    <li data-value="Ставропольский край" class="option">Ставропольский край </li>
                                    <li data-value="Тамбовская область" class="option">Тамбовская область </li>
                                    <li data-value="Татарстан" class="option">Татарстан </li>
                                    <li data-value="Тверская область" class="option">Тверская область </li>
                                    <li data-value="Томская область" class="option">Томская область </li>
                                    <li data-value="Тульская область" class="option">Тульская область </li>
                                    <li data-value="Тыва" class="option">Тыва </li>
                                    <li data-value="Тюменская область" class="option">Тюменская область </li>
                                    <li data-value="Удмуртия" class="option">Удмуртия </li>
                                    <li data-value="Ульяновская область" class="option">Ульяновская область </li>
                                    <li data-value="Хабаровский край" class="option">Хабаровский край </li>
                                    <li data-value="Хакасия" class="option">Хакасия </li>
                                    <li data-value="Ханты-Мансийский АО — Югра" class="option">Ханты-Мансийский АО — Югра </li>
                                    <li data-value="Челябинская область" class="option">Челябинская область </li>
                                    <li data-value="Чечня" class="option">Чечня </li>
                                    <li data-value="Чувашия" class="option">Чувашия </li>
                                    <li data-value="Чукотский АО" class="option">Чукотский АО </li>
                                    <li data-value="Ямало-Ненецкий АО" class="option">Ямало-Ненецкий АО </li>
                                    <li data-value="Ярославская область" class="option">Ярославская область</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="additionally-info_text">Что есть в собственности?</div>
                    <div class="additionally-info_item custom-radio">
                        <input type="checkbox" dataname="Квартира" id="appartments">
                        <label for="appartments"><span class="custom-radio-text">Квартира</span></label>
                        <input type="checkbox" dataname="Комната" id="room">
                        <label for="room"> <span class="custom-radio-text">Комната</span></label>
                        <input type="checkbox" dataname="Дом" id="house">
                        <label for="house"> <span class="custom-radio-text">Дом</span></label>
                    </div>
                    <div class="additionally-info_item additionally-info_item--checkboxes">
                        <select class="custom-select custom-select--wide disabled" name="Квартира" style="display: none;">
            <option disabled="" selected="">Выберите регион
              </option><option>Москва </option>
              <option>Московская область </option>
              <option>Адыгея </option>
              <option>Алтай </option>
              <option>Алтайский край </option>
              <option>Амурская область </option>
              <option>Архангельская область </option>
              <option>Астраханская область </option>
              <option>Башкортостан </option>
              <option>Белгородская область </option>
              <option>Брянская область </option>
              <option>Бурятия </option>
              <option>Владимирская область </option>
              <option>Волгоградская область </option>
              <option>Вологодская область </option>
              <option>Воронежская область </option>
              <option>Дагестан </option>
              <option>Еврейская АО </option>
              <option>Забайкальский край </option>
              <option>Ивановская область </option>
              <option>Ингушетия </option>
              <option>Иркутская область </option>
              <option>Кабардино-Балкария </option>
              <option>Калининградская область </option>
              <option>Калмыкия </option>
              <option>Калужская область </option>
              <option>Камчатский край </option>
              <option>Карачаево-Черкесия </option>
              <option>Карелия </option>
              <option>Кемеровская область </option>
              <option>Кировская область </option>
              <option>Коми </option>
              <option>Костромская область </option>
              <option>Краснодарский край </option>
              <option>Красноярский край </option>
              <option>Крым </option>
              <option>Курганская область </option>
              <option>Курская область </option>
              <option>Ленинградская область </option>
              <option>Липецкая область </option>
              <option>Магаданская область </option>
              <option>Марий Эл </option>
              <option>Мордовия </option>
              <option>Мурманская область </option>
              <option>Ненецкий АО </option>
              <option>Нижегородская область </option>
              <option>Новгородская область </option>
              <option>Новосибирская область </option>
              <option>Омская область </option>
              <option>Оренбургская область </option>
              <option>Орловская область </option>
              <option>Пензенская область </option>
              <option>Пермский край </option>
              <option>Приморский край </option>
              <option>Псковская область </option>
              <option>Ростовская область </option>
              <option>Рязанская область </option>
              <option>Самарская область </option>
              <option>Санкт-Петербург </option>
              <option>Саратовская область </option>
              <option>Саха (Якутия) </option>
              <option>Сахалинская область </option>
              <option>Свердловская область </option>
              <option>Севастополь </option>
              <option>Северная Осетия — Алания </option>
              <option>Смоленская область </option>
              <option>Ставропольский край </option>
              <option>Тамбовская область </option>
              <option>Татарстан </option>
              <option>Тверская область </option>
              <option>Томская область </option>
              <option>Тульская область </option>
              <option>Тыва </option>
              <option>Тюменская область </option>
              <option>Удмуртия </option>
              <option>Ульяновская область </option>
              <option>Хабаровский край </option>
              <option>Хакасия </option>
              <option>Ханты-Мансийский АО — Югра </option>
              <option>Челябинская область </option>
              <option>Чечня </option>
              <option>Чувашия </option>
              <option>Чукотский АО </option>
              <option>Ямало-Ненецкий АО </option>
              <option>Ярославская область</option>
            
          </select>
                        <div class="nice-select custom-select custom-select--wide disabled" tabindex="0"><span class="current">Выберите регион
              </span>
                            <ul class="list">
                                <li data-value="Выберите регион" class="option selected disabled">Выберите регион
                                </li>
                                <li data-value="Москва" class="option">Москва </li>
                                <li data-value="Московская область" class="option">Московская область </li>
                                <li data-value="Адыгея" class="option">Адыгея </li>
                                <li data-value="Алтай" class="option">Алтай </li>
                                <li data-value="Алтайский край" class="option">Алтайский край </li>
                                <li data-value="Амурская область" class="option">Амурская область </li>
                                <li data-value="Архангельская область" class="option">Архангельская область </li>
                                <li data-value="Астраханская область" class="option">Астраханская область </li>
                                <li data-value="Башкортостан" class="option">Башкортостан </li>
                                <li data-value="Белгородская область" class="option">Белгородская область </li>
                                <li data-value="Брянская область" class="option">Брянская область </li>
                                <li data-value="Бурятия" class="option">Бурятия </li>
                                <li data-value="Владимирская область" class="option">Владимирская область </li>
                                <li data-value="Волгоградская область" class="option">Волгоградская область </li>
                                <li data-value="Вологодская область" class="option">Вологодская область </li>
                                <li data-value="Воронежская область" class="option">Воронежская область </li>
                                <li data-value="Дагестан" class="option">Дагестан </li>
                                <li data-value="Еврейская АО" class="option">Еврейская АО </li>
                                <li data-value="Забайкальский край" class="option">Забайкальский край </li>
                                <li data-value="Ивановская область" class="option">Ивановская область </li>
                                <li data-value="Ингушетия" class="option">Ингушетия </li>
                                <li data-value="Иркутская область" class="option">Иркутская область </li>
                                <li data-value="Кабардино-Балкария" class="option">Кабардино-Балкария </li>
                                <li data-value="Калининградская область" class="option">Калининградская область </li>
                                <li data-value="Калмыкия" class="option">Калмыкия </li>
                                <li data-value="Калужская область" class="option">Калужская область </li>
                                <li data-value="Камчатский край" class="option">Камчатский край </li>
                                <li data-value="Карачаево-Черкесия" class="option">Карачаево-Черкесия </li>
                                <li data-value="Карелия" class="option">Карелия </li>
                                <li data-value="Кемеровская область" class="option">Кемеровская область </li>
                                <li data-value="Кировская область" class="option">Кировская область </li>
                                <li data-value="Коми" class="option">Коми </li>
                                <li data-value="Костромская область" class="option">Костромская область </li>
                                <li data-value="Краснодарский край" class="option">Краснодарский край </li>
                                <li data-value="Красноярский край" class="option">Красноярский край </li>
                                <li data-value="Крым" class="option">Крым </li>
                                <li data-value="Курганская область" class="option">Курганская область </li>
                                <li data-value="Курская область" class="option">Курская область </li>
                                <li data-value="Ленинградская область" class="option">Ленинградская область </li>
                                <li data-value="Липецкая область" class="option">Липецкая область </li>
                                <li data-value="Магаданская область" class="option">Магаданская область </li>
                                <li data-value="Марий Эл" class="option">Марий Эл </li>
                                <li data-value="Мордовия" class="option">Мордовия </li>
                                <li data-value="Мурманская область" class="option">Мурманская область </li>
                                <li data-value="Ненецкий АО" class="option">Ненецкий АО </li>
                                <li data-value="Нижегородская область" class="option">Нижегородская область </li>
                                <li data-value="Новгородская область" class="option">Новгородская область </li>
                                <li data-value="Новосибирская область" class="option">Новосибирская область </li>
                                <li data-value="Омская область" class="option">Омская область </li>
                                <li data-value="Оренбургская область" class="option">Оренбургская область </li>
                                <li data-value="Орловская область" class="option">Орловская область </li>
                                <li data-value="Пензенская область" class="option">Пензенская область </li>
                                <li data-value="Пермский край" class="option">Пермский край </li>
                                <li data-value="Приморский край" class="option">Приморский край </li>
                                <li data-value="Псковская область" class="option">Псковская область </li>
                                <li data-value="Ростовская область" class="option">Ростовская область </li>
                                <li data-value="Рязанская область" class="option">Рязанская область </li>
                                <li data-value="Самарская область" class="option">Самарская область </li>
                                <li data-value="Санкт-Петербург" class="option">Санкт-Петербург </li>
                                <li data-value="Саратовская область" class="option">Саратовская область </li>
                                <li data-value="Саха (Якутия)" class="option">Саха (Якутия) </li>
                                <li data-value="Сахалинская область" class="option">Сахалинская область </li>
                                <li data-value="Свердловская область" class="option">Свердловская область </li>
                                <li data-value="Севастополь" class="option">Севастополь </li>
                                <li data-value="Северная Осетия — Алания" class="option">Северная Осетия — Алания </li>
                                <li data-value="Смоленская область" class="option">Смоленская область </li>
                                <li data-value="Ставропольский край" class="option">Ставропольский край </li>
                                <li data-value="Тамбовская область" class="option">Тамбовская область </li>
                                <li data-value="Татарстан" class="option">Татарстан </li>
                                <li data-value="Тверская область" class="option">Тверская область </li>
                                <li data-value="Томская область" class="option">Томская область </li>
                                <li data-value="Тульская область" class="option">Тульская область </li>
                                <li data-value="Тыва" class="option">Тыва </li>
                                <li data-value="Тюменская область" class="option">Тюменская область </li>
                                <li data-value="Удмуртия" class="option">Удмуртия </li>
                                <li data-value="Ульяновская область" class="option">Ульяновская область </li>
                                <li data-value="Хабаровский край" class="option">Хабаровский край </li>
                                <li data-value="Хакасия" class="option">Хакасия </li>
                                <li data-value="Ханты-Мансийский АО — Югра" class="option">Ханты-Мансийский АО — Югра </li>
                                <li data-value="Челябинская область" class="option">Челябинская область </li>
                                <li data-value="Чечня" class="option">Чечня </li>
                                <li data-value="Чувашия" class="option">Чувашия </li>
                                <li data-value="Чукотский АО" class="option">Чукотский АО </li>
                                <li data-value="Ямало-Ненецкий АО" class="option">Ямало-Ненецкий АО </li>
                                <li data-value="Ярославская область" class="option">Ярославская область</li>
                            </ul>
                        </div>
                        <select class="custom-select custom-select--wide custom-select--margin disabled" name="Комната" style="display: none;">
            <option disabled="" selected="">Выберите регион
              </option><option>Москва </option>
              <option>Московская область </option>
              <option>Адыгея </option>
              <option>Алтай </option>
              <option>Алтайский край </option>
              <option>Амурская область </option>
              <option>Архангельская область </option>
              <option>Астраханская область </option>
              <option>Башкортостан </option>
              <option>Белгородская область </option>
              <option>Брянская область </option>
              <option>Бурятия </option>
              <option>Владимирская область </option>
              <option>Волгоградская область </option>
              <option>Вологодская область </option>
              <option>Воронежская область </option>
              <option>Дагестан </option>
              <option>Еврейская АО </option>
              <option>Забайкальский край </option>
              <option>Ивановская область </option>
              <option>Ингушетия </option>
              <option>Иркутская область </option>
              <option>Кабардино-Балкария </option>
              <option>Калининградская область </option>
              <option>Калмыкия </option>
              <option>Калужская область </option>
              <option>Камчатский край </option>
              <option>Карачаево-Черкесия </option>
              <option>Карелия </option>
              <option>Кемеровская область </option>
              <option>Кировская область </option>
              <option>Коми </option>
              <option>Костромская область </option>
              <option>Краснодарский край </option>
              <option>Красноярский край </option>
              <option>Крым </option>
              <option>Курганская область </option>
              <option>Курская область </option>
              <option>Ленинградская область </option>
              <option>Липецкая область </option>
              <option>Магаданская область </option>
              <option>Марий Эл </option>
              <option>Мордовия </option>
              <option>Мурманская область </option>
              <option>Ненецкий АО </option>
              <option>Нижегородская область </option>
              <option>Новгородская область </option>
              <option>Новосибирская область </option>
              <option>Омская область </option>
              <option>Оренбургская область </option>
              <option>Орловская область </option>
              <option>Пензенская область </option>
              <option>Пермский край </option>
              <option>Приморский край </option>
              <option>Псковская область </option>
              <option>Ростовская область </option>
              <option>Рязанская область </option>
              <option>Самарская область </option>
              <option>Санкт-Петербург </option>
              <option>Саратовская область </option>
              <option>Саха (Якутия) </option>
              <option>Сахалинская область </option>
              <option>Свердловская область </option>
              <option>Севастополь </option>
              <option>Северная Осетия — Алания </option>
              <option>Смоленская область </option>
              <option>Ставропольский край </option>
              <option>Тамбовская область </option>
              <option>Татарстан </option>
              <option>Тверская область </option>
              <option>Томская область </option>
              <option>Тульская область </option>
              <option>Тыва </option>
              <option>Тюменская область </option>
              <option>Удмуртия </option>
              <option>Ульяновская область </option>
              <option>Хабаровский край </option>
              <option>Хакасия </option>
              <option>Ханты-Мансийский АО — Югра </option>
              <option>Челябинская область </option>
              <option>Чечня </option>
              <option>Чувашия </option>
              <option>Чукотский АО </option>
              <option>Ямало-Ненецкий АО </option>
              <option>Ярославская область</option>
            
          </select>
                        <div class="nice-select custom-select custom-select--wide custom-select--margin disabled" tabindex="0"><span class="current">Выберите регион
              </span>
                            <ul class="list">
                                <li data-value="Выберите регион" class="option selected disabled">Выберите регион
                                </li>
                                <li data-value="Москва" class="option">Москва </li>
                                <li data-value="Московская область" class="option">Московская область </li>
                                <li data-value="Адыгея" class="option">Адыгея </li>
                                <li data-value="Алтай" class="option">Алтай </li>
                                <li data-value="Алтайский край" class="option">Алтайский край </li>
                                <li data-value="Амурская область" class="option">Амурская область </li>
                                <li data-value="Архангельская область" class="option">Архангельская область </li>
                                <li data-value="Астраханская область" class="option">Астраханская область </li>
                                <li data-value="Башкортостан" class="option">Башкортостан </li>
                                <li data-value="Белгородская область" class="option">Белгородская область </li>
                                <li data-value="Брянская область" class="option">Брянская область </li>
                                <li data-value="Бурятия" class="option">Бурятия </li>
                                <li data-value="Владимирская область" class="option">Владимирская область </li>
                                <li data-value="Волгоградская область" class="option">Волгоградская область </li>
                                <li data-value="Вологодская область" class="option">Вологодская область </li>
                                <li data-value="Воронежская область" class="option">Воронежская область </li>
                                <li data-value="Дагестан" class="option">Дагестан </li>
                                <li data-value="Еврейская АО" class="option">Еврейская АО </li>
                                <li data-value="Забайкальский край" class="option">Забайкальский край </li>
                                <li data-value="Ивановская область" class="option">Ивановская область </li>
                                <li data-value="Ингушетия" class="option">Ингушетия </li>
                                <li data-value="Иркутская область" class="option">Иркутская область </li>
                                <li data-value="Кабардино-Балкария" class="option">Кабардино-Балкария </li>
                                <li data-value="Калининградская область" class="option">Калининградская область </li>
                                <li data-value="Калмыкия" class="option">Калмыкия </li>
                                <li data-value="Калужская область" class="option">Калужская область </li>
                                <li data-value="Камчатский край" class="option">Камчатский край </li>
                                <li data-value="Карачаево-Черкесия" class="option">Карачаево-Черкесия </li>
                                <li data-value="Карелия" class="option">Карелия </li>
                                <li data-value="Кемеровская область" class="option">Кемеровская область </li>
                                <li data-value="Кировская область" class="option">Кировская область </li>
                                <li data-value="Коми" class="option">Коми </li>
                                <li data-value="Костромская область" class="option">Костромская область </li>
                                <li data-value="Краснодарский край" class="option">Краснодарский край </li>
                                <li data-value="Красноярский край" class="option">Красноярский край </li>
                                <li data-value="Крым" class="option">Крым </li>
                                <li data-value="Курганская область" class="option">Курганская область </li>
                                <li data-value="Курская область" class="option">Курская область </li>
                                <li data-value="Ленинградская область" class="option">Ленинградская область </li>
                                <li data-value="Липецкая область" class="option">Липецкая область </li>
                                <li data-value="Магаданская область" class="option">Магаданская область </li>
                                <li data-value="Марий Эл" class="option">Марий Эл </li>
                                <li data-value="Мордовия" class="option">Мордовия </li>
                                <li data-value="Мурманская область" class="option">Мурманская область </li>
                                <li data-value="Ненецкий АО" class="option">Ненецкий АО </li>
                                <li data-value="Нижегородская область" class="option">Нижегородская область </li>
                                <li data-value="Новгородская область" class="option">Новгородская область </li>
                                <li data-value="Новосибирская область" class="option">Новосибирская область </li>
                                <li data-value="Омская область" class="option">Омская область </li>
                                <li data-value="Оренбургская область" class="option">Оренбургская область </li>
                                <li data-value="Орловская область" class="option">Орловская область </li>
                                <li data-value="Пензенская область" class="option">Пензенская область </li>
                                <li data-value="Пермский край" class="option">Пермский край </li>
                                <li data-value="Приморский край" class="option">Приморский край </li>
                                <li data-value="Псковская область" class="option">Псковская область </li>
                                <li data-value="Ростовская область" class="option">Ростовская область </li>
                                <li data-value="Рязанская область" class="option">Рязанская область </li>
                                <li data-value="Самарская область" class="option">Самарская область </li>
                                <li data-value="Санкт-Петербург" class="option">Санкт-Петербург </li>
                                <li data-value="Саратовская область" class="option">Саратовская область </li>
                                <li data-value="Саха (Якутия)" class="option">Саха (Якутия) </li>
                                <li data-value="Сахалинская область" class="option">Сахалинская область </li>
                                <li data-value="Свердловская область" class="option">Свердловская область </li>
                                <li data-value="Севастополь" class="option">Севастополь </li>
                                <li data-value="Северная Осетия — Алания" class="option">Северная Осетия — Алания </li>
                                <li data-value="Смоленская область" class="option">Смоленская область </li>
                                <li data-value="Ставропольский край" class="option">Ставропольский край </li>
                                <li data-value="Тамбовская область" class="option">Тамбовская область </li>
                                <li data-value="Татарстан" class="option">Татарстан </li>
                                <li data-value="Тверская область" class="option">Тверская область </li>
                                <li data-value="Томская область" class="option">Томская область </li>
                                <li data-value="Тульская область" class="option">Тульская область </li>
                                <li data-value="Тыва" class="option">Тыва </li>
                                <li data-value="Тюменская область" class="option">Тюменская область </li>
                                <li data-value="Удмуртия" class="option">Удмуртия </li>
                                <li data-value="Ульяновская область" class="option">Ульяновская область </li>
                                <li data-value="Хабаровский край" class="option">Хабаровский край </li>
                                <li data-value="Хакасия" class="option">Хакасия </li>
                                <li data-value="Ханты-Мансийский АО — Югра" class="option">Ханты-Мансийский АО — Югра </li>
                                <li data-value="Челябинская область" class="option">Челябинская область </li>
                                <li data-value="Чечня" class="option">Чечня </li>
                                <li data-value="Чувашия" class="option">Чувашия </li>
                                <li data-value="Чукотский АО" class="option">Чукотский АО </li>
                                <li data-value="Ямало-Ненецкий АО" class="option">Ямало-Ненецкий АО </li>
                                <li data-value="Ярославская область" class="option">Ярославская область</li>
                            </ul>
                        </div>
                        <select class="custom-select custom-select--wide custom-select--margin disabled" name="Дом" style="display: none;">
            <option disabled="" selected="">Выберите регион
              </option><option>Москва </option>
              <option>Московская область </option>
              <option>Адыгея </option>
              <option>Алтай </option>
              <option>Алтайский край </option>
              <option>Амурская область </option>
              <option>Архангельская область </option>
              <option>Астраханская область </option>
              <option>Башкортостан </option>
              <option>Белгородская область </option>
              <option>Брянская область </option>
              <option>Бурятия </option>
              <option>Владимирская область </option>
              <option>Волгоградская область </option>
              <option>Вологодская область </option>
              <option>Воронежская область </option>
              <option>Дагестан </option>
              <option>Еврейская АО </option>
              <option>Забайкальский край </option>
              <option>Ивановская область </option>
              <option>Ингушетия </option>
              <option>Иркутская область </option>
              <option>Кабардино-Балкария </option>
              <option>Калининградская область </option>
              <option>Калмыкия </option>
              <option>Калужская область </option>
              <option>Камчатский край </option>
              <option>Карачаево-Черкесия </option>
              <option>Карелия </option>
              <option>Кемеровская область </option>
              <option>Кировская область </option>
              <option>Коми </option>
              <option>Костромская область </option>
              <option>Краснодарский край </option>
              <option>Красноярский край </option>
              <option>Крым </option>
              <option>Курганская область </option>
              <option>Курская область </option>
              <option>Ленинградская область </option>
              <option>Липецкая область </option>
              <option>Магаданская область </option>
              <option>Марий Эл </option>
              <option>Мордовия </option>
              <option>Мурманская область </option>
              <option>Ненецкий АО </option>
              <option>Нижегородская область </option>
              <option>Новгородская область </option>
              <option>Новосибирская область </option>
              <option>Омская область </option>
              <option>Оренбургская область </option>
              <option>Орловская область </option>
              <option>Пензенская область </option>
              <option>Пермский край </option>
              <option>Приморский край </option>
              <option>Псковская область </option>
              <option>Ростовская область </option>
              <option>Рязанская область </option>
              <option>Самарская область </option>
              <option>Санкт-Петербург </option>
              <option>Саратовская область </option>
              <option>Саха (Якутия) </option>
              <option>Сахалинская область </option>
              <option>Свердловская область </option>
              <option>Севастополь </option>
              <option>Северная Осетия — Алания </option>
              <option>Смоленская область </option>
              <option>Ставропольский край </option>
              <option>Тамбовская область </option>
              <option>Татарстан </option>
              <option>Тверская область </option>
              <option>Томская область </option>
              <option>Тульская область </option>
              <option>Тыва </option>
              <option>Тюменская область </option>
              <option>Удмуртия </option>
              <option>Ульяновская область </option>
              <option>Хабаровский край </option>
              <option>Хакасия </option>
              <option>Ханты-Мансийский АО — Югра </option>
              <option>Челябинская область </option>
              <option>Чечня </option>
              <option>Чувашия </option>
              <option>Чукотский АО </option>
              <option>Ямало-Ненецкий АО </option>
              <option>Ярославская область</option>
            
          </select>
                        <div class="nice-select custom-select custom-select--wide custom-select--margin disabled" tabindex="0"><span class="current">Выберите регион
              </span>
                            <ul class="list">
                                <li data-value="Выберите регион" class="option selected disabled">Выберите регион
                                </li>
                                <li data-value="Москва" class="option">Москва </li>
                                <li data-value="Московская область" class="option">Московская область </li>
                                <li data-value="Адыгея" class="option">Адыгея </li>
                                <li data-value="Алтай" class="option">Алтай </li>
                                <li data-value="Алтайский край" class="option">Алтайский край </li>
                                <li data-value="Амурская область" class="option">Амурская область </li>
                                <li data-value="Архангельская область" class="option">Архангельская область </li>
                                <li data-value="Астраханская область" class="option">Астраханская область </li>
                                <li data-value="Башкортостан" class="option">Башкортостан </li>
                                <li data-value="Белгородская область" class="option">Белгородская область </li>
                                <li data-value="Брянская область" class="option">Брянская область </li>
                                <li data-value="Бурятия" class="option">Бурятия </li>
                                <li data-value="Владимирская область" class="option">Владимирская область </li>
                                <li data-value="Волгоградская область" class="option">Волгоградская область </li>
                                <li data-value="Вологодская область" class="option">Вологодская область </li>
                                <li data-value="Воронежская область" class="option">Воронежская область </li>
                                <li data-value="Дагестан" class="option">Дагестан </li>
                                <li data-value="Еврейская АО" class="option">Еврейская АО </li>
                                <li data-value="Забайкальский край" class="option">Забайкальский край </li>
                                <li data-value="Ивановская область" class="option">Ивановская область </li>
                                <li data-value="Ингушетия" class="option">Ингушетия </li>
                                <li data-value="Иркутская область" class="option">Иркутская область </li>
                                <li data-value="Кабардино-Балкария" class="option">Кабардино-Балкария </li>
                                <li data-value="Калининградская область" class="option">Калининградская область </li>
                                <li data-value="Калмыкия" class="option">Калмыкия </li>
                                <li data-value="Калужская область" class="option">Калужская область </li>
                                <li data-value="Камчатский край" class="option">Камчатский край </li>
                                <li data-value="Карачаево-Черкесия" class="option">Карачаево-Черкесия </li>
                                <li data-value="Карелия" class="option">Карелия </li>
                                <li data-value="Кемеровская область" class="option">Кемеровская область </li>
                                <li data-value="Кировская область" class="option">Кировская область </li>
                                <li data-value="Коми" class="option">Коми </li>
                                <li data-value="Костромская область" class="option">Костромская область </li>
                                <li data-value="Краснодарский край" class="option">Краснодарский край </li>
                                <li data-value="Красноярский край" class="option">Красноярский край </li>
                                <li data-value="Крым" class="option">Крым </li>
                                <li data-value="Курганская область" class="option">Курганская область </li>
                                <li data-value="Курская область" class="option">Курская область </li>
                                <li data-value="Ленинградская область" class="option">Ленинградская область </li>
                                <li data-value="Липецкая область" class="option">Липецкая область </li>
                                <li data-value="Магаданская область" class="option">Магаданская область </li>
                                <li data-value="Марий Эл" class="option">Марий Эл </li>
                                <li data-value="Мордовия" class="option">Мордовия </li>
                                <li data-value="Мурманская область" class="option">Мурманская область </li>
                                <li data-value="Ненецкий АО" class="option">Ненецкий АО </li>
                                <li data-value="Нижегородская область" class="option">Нижегородская область </li>
                                <li data-value="Новгородская область" class="option">Новгородская область </li>
                                <li data-value="Новосибирская область" class="option">Новосибирская область </li>
                                <li data-value="Омская область" class="option">Омская область </li>
                                <li data-value="Оренбургская область" class="option">Оренбургская область </li>
                                <li data-value="Орловская область" class="option">Орловская область </li>
                                <li data-value="Пензенская область" class="option">Пензенская область </li>
                                <li data-value="Пермский край" class="option">Пермский край </li>
                                <li data-value="Приморский край" class="option">Приморский край </li>
                                <li data-value="Псковская область" class="option">Псковская область </li>
                                <li data-value="Ростовская область" class="option">Ростовская область </li>
                                <li data-value="Рязанская область" class="option">Рязанская область </li>
                                <li data-value="Самарская область" class="option">Самарская область </li>
                                <li data-value="Санкт-Петербург" class="option">Санкт-Петербург </li>
                                <li data-value="Саратовская область" class="option">Саратовская область </li>
                                <li data-value="Саха (Якутия)" class="option">Саха (Якутия) </li>
                                <li data-value="Сахалинская область" class="option">Сахалинская область </li>
                                <li data-value="Свердловская область" class="option">Свердловская область </li>
                                <li data-value="Севастополь" class="option">Севастополь </li>
                                <li data-value="Северная Осетия — Алания" class="option">Северная Осетия — Алания </li>
                                <li data-value="Смоленская область" class="option">Смоленская область </li>
                                <li data-value="Ставропольский край" class="option">Ставропольский край </li>
                                <li data-value="Тамбовская область" class="option">Тамбовская область </li>
                                <li data-value="Татарстан" class="option">Татарстан </li>
                                <li data-value="Тверская область" class="option">Тверская область </li>
                                <li data-value="Томская область" class="option">Томская область </li>
                                <li data-value="Тульская область" class="option">Тульская область </li>
                                <li data-value="Тыва" class="option">Тыва </li>
                                <li data-value="Тюменская область" class="option">Тюменская область </li>
                                <li data-value="Удмуртия" class="option">Удмуртия </li>
                                <li data-value="Ульяновская область" class="option">Ульяновская область </li>
                                <li data-value="Хабаровский край" class="option">Хабаровский край </li>
                                <li data-value="Хакасия" class="option">Хакасия </li>
                                <li data-value="Ханты-Мансийский АО — Югра" class="option">Ханты-Мансийский АО — Югра </li>
                                <li data-value="Челябинская область" class="option">Челябинская область </li>
                                <li data-value="Чечня" class="option">Чечня </li>
                                <li data-value="Чувашия" class="option">Чувашия </li>
                                <li data-value="Чукотский АО" class="option">Чукотский АО </li>
                                <li data-value="Ямало-Ненецкий АО" class="option">Ямало-Ненецкий АО </li>
                                <li data-value="Ярославская область" class="option">Ярославская область</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn additionally-info__btn" type="submit">отправить</button>
                    <div class="agreement additionally-info__agreement">Я даю согласие ООО «Финарди»<br> на обработку моих <a href="https://zalog.finardi.ru/#privacy-popup" class="agreement__link privacy-popup">персональных данных </a>
                        <label class="agreement__checkbox">
            <input type="checkbox" name="agree" checked="" value="on"><span></span>
          </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>