<div class="calc modal modal-big" id="modal-privacy">
    <div class="modal-overlay"></div>
    <div class="calc-block modal-window">
        <div class="modal-close">
            <i class="fas fa-times"></i>
        </div>
        <div class="content">
            <div class="article">
                <div class="article-content">
                    <p class="title">Политика конфиденциальности</p>
                    <p class="article-subtitle">Согласие на обработку персональных данных</p>
                    <p>Для того, чтобы сотрудники ООО «ФИНАРДИ» (ИНН 7719874730, ОГРН 1147746352500), а также партнеры компании могли подобрать для вас наиболее подходящее и выгодное предложение и далее — с вами связаться, необходимо ваше согласие на обработку ваших персональных данных, указываемых вами в заявке. Их увидят только сотрудники ООО «ФИНАРДИ» и их партнеры.</p>
                    <p class="article-subtitle">Персональные данные — что это?</p>
                    <p>Это любая информация, которая относится к вам как к субъекту персональных данных, в том числе: фамилия, имя, отчество, дата рождения, адрес, контакты и иные данные, которые предусмотрены Федеральным Законом №152 «О персональных данных».</p>
                    <p class="article-subtitle">Зачем и кому нужны ваши персональные данные?</p>
                    <ul>
                        <li><p><i class="fas fa-circle"></i>Вашим оператором будет ООО «ФИНАРДИ» (ИНН 7719874730, ОГРН 1147746352500).</p></li>
                        <li><p><i class="fas fa-circle"></i>Цель обработки персональных данных — оказание услуг по подбору для вас кредитного решения, а также возможность обратной связи с вами.</p></li>
                        <li><p><i class="fas fa-circle"></i>Пользователями ваших персональных данных будут исключительно сотрудники ООО «ФИНАРДИ», а также партнеры компании, и никто иной.</p></li>
                        <li><p><i class="fas fa-circle"></i>Вы имеете право любым способом изъявить ООО «ФИНАРДИ» свое желание об удалении ваших персональных данных из хранилищ компании.</p></li>
                    </ul>
                    <p class="article-subtitle">Ваше согласие</p>
                    <p>Давая согласие на обработку ваших персональных и контактных данных, оставленных на данном сайте в качестве заявки на кредит или просьбы связаться с вами, вы подтверждаете, что:</p>
                    <ul>
                        <li><p><i class="fas fa-circle"></i>Внимательно прочитали условия обработки ООО «ФИНАРДИ» ваших персональных данных и полностью с ними согласны;</p></li>
                        <li><p><i class="fas fa-circle"></i>Внимательно прочитали условия обработки ООО «ФИНАРДИ» ваших персональных данных и полностью с ними согласны;</p></li>
                        <li><p><i class="fas fa-circle"></i>Даете согласие ООО «ФИНАРДИ» на обработку ваших персональных данных, содержащихся в заполняемой форме заявки;</p></li>
                        <li><p><i class="fas fa-circle"></i>Даете согласие на получение сервисной рассылки и уведомлений доступными средствами телефонной связи, SMS-сообщений и электронной почты (можете отписаться в любой момент в любой форме используя любой метод связи, обратившись в ООО «ФИНАРДИ»);</p></li>
                        <li><p><i class="fas fa-circle"></i>Ознакомились с тем, что данное соглашение действует бессрочно и может быть отозвано путем отправки заявления в свободной форме на электронную почту finardi@finardi.ru с пометкой в теме «Отказ от сотрудничества».</p></li>
                    </ul>                   
                </div>
            </div>
        </div> 
    </div>
</div>