<div class="modal" id="modalPhone">
    <div class="modal-overlay"></div>
    <div class="modal-window">
        <div class="modal-close">
            <i class="fas fa-times"></i>
        </div>
        <p class="modal-title">Оставьте свой номер телефона</p>
        <p class="modal-subtitle">Менеджер проконсультирует вас как получить ипотечный кредит с наименьшей процентной ставкой</p>
        <form action="" method="POST"  class="callback">
            <div class="callback-input name">
                <input type="text" name="name" placeholder="Как к вам обращаться?">
            </div>
            <div class="callback-input phone">
                <input type="text" name="phone" placeholder="+7 (___) ___ __ __">
            </div>
            <button class="btn btn-white callback-button" type="submit">Оставить заявку на ипотеку</button>
            <div class="callback-agree">
                <input type="checkbox" name="agree" id="agree4">
                <label for="agree4">Я даю согласие ООО «Финарди» на обработку моих <a href="#">персональных даных</a></label>
            </div>
        </form>
    </div>
</div>