<div class="calc modal modal-big" id="modalBig">
        <div class="modal-overlay"></div>
        <div class="calc-block modal-window">
            <div class="modal-close">
                <i class="fas fa-times"></i>
            </div>
            <div class="content">
                <p class="modal-subtitle">Спасибо, ваша заявка принята!<br>Наши консультанты свяжутся с вами в ближайшее время</p>
                <p class="modal-title">Увеличьте шансы на одобрение!</p>
                <p class="modal-subtitle" style="color: white;">Сообщите дополнительную информацию:</p>
                <form action="" method="POST"  class="calc callback">
                    <div class="item radio">
                        <span class="item-name">Выбор валюты</span>
                        <div class="right-item navig">
                            <input id="ruble-modal" type="radio" name="currency-in-modal" value="rub" checked="">
                            <label for="ruble-modal"><span>Рубли</span></label>
                            <input id="usd-modal" type="radio" name="currency-in-modal" value="usd">
                            <label for="usd-modal"><span>Доллары сша</span></label>
                            <input id="eur-modal" type="radio" name="currency-in-modal" value="eur">
                            <label for="eur-modal"><span>Евро</span></label>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name">Сумма кредита</span>
                        <div class="right-item">                        
                            <output>
                                <div id="amount-credit-name-modal">
                                    <i class="fas fa-ruble-sign"></i>
                                </div>
                                <input id="amount-credit-input-modal" type="text" min="150000" value="" placeholder="10 000" name="Сумма">
                            </output>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name">На что нужны деньги?</span>
                        <div class="right-item">                        
                            <output>
                                <input type="text" placeholder="Цель кредита" name="Цель_кредита">
                            </output>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name">Вы работаете</span>
                        <div class="right-item">
                            <div class="range-wrap">
                                <div class="desc" id="work-modal">
                                    <div class="l">официально</div>
                                    <div class="с white">неофициально</div>
                                    <div class="r">нет</div>
                                </div>
                                <input id="work-rate-modal" type="range" min="1" max="3" step="1" value="2" name="Ставка_кредита">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name">Открытые прострочки</span>
                        <div class="right-item">
                            <div class="range-wrap">
                                <div class="desc" id="overdue-modal">
                                    <div class="l">есть</div>
                                    <div class="r white">отсутвуют</div>
                                </div>
                                <input id="overdue-rate-modal" type="range" min="1" max="2" step="1" value="2" name="Ставка_кредита">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name">Где прописаны?</span>
                        <div class="right-item">
                            <select class="custom-select" name="registration">
                                <option disabled="" selected="">Выберите регион</option>
                                <option>Москва </option>
                                <option>Московская область </option>
                                <option>Адыгея </option>
                                <option>Алтай </option>
                                <option>Алтайский край </option>
                                <option>Амурская область </option>
                                <option>Архангельская область </option>
                                <option>Астраханская область </option>
                                <option>Башкортостан </option>
                                <option>Белгородская область </option>
                                <option>Брянская область </option>
                                <option>Бурятия </option>
                                <option>Владимирская область </option>
                                <option>Волгоградская область </option>
                                <option>Вологодская область </option>
                                <option>Воронежская область </option>
                                <option>Дагестан </option>
                                <option>Еврейская АО </option>
                                <option>Забайкальский край </option>
                                <option>Ивановская область </option>
                                <option>Ингушетия </option>
                                <option>Иркутская область </option>
                                <option>Кабардино-Балкария </option>
                                <option>Калининградская область </option>
                                <option>Калмыкия </option>
                                <option>Калужская область </option>
                                <option>Камчатский край </option>
                                <option>Карачаево-Черкесия </option>
                                <option>Карелия </option>
                                <option>Кемеровская область </option>
                                <option>Кировская область </option>
                                <option>Коми </option>
                                <option>Костромская область </option>
                                <option>Краснодарский край </option>
                                <option>Красноярский край </option>
                                <option>Крым </option>
                                <option>Курганская область </option>
                                <option>Курская область </option>
                                <option>Ленинградская область </option>
                                <option>Липецкая область </option>
                                <option>Магаданская область </option>
                                <option>Марий Эл </option>
                                <option>Мордовия </option>
                                <option>Мурманская область </option>
                                <option>Ненецкий АО </option>
                                <option>Нижегородская область </option>
                                <option>Новгородская область </option>
                                <option>Новосибирская область </option>
                                <option>Омская область </option>
                                <option>Оренбургская область </option>
                                <option>Орловская область </option>
                                <option>Пензенская область </option>
                                <option>Пермский край </option>
                                <option>Приморский край </option>
                                <option>Псковская область </option>
                                <option>Ростовская область </option>
                                <option>Рязанская область </option>
                                <option>Самарская область </option>
                                <option>Санкт-Петербург </option>
                                <option>Саратовская область </option>
                                <option>Саха (Якутия) </option>
                                <option>Сахалинская область </option>
                                <option>Свердловская область </option>
                                <option>Севастополь </option>
                                <option>Северная Осетия — Алания </option>
                                <option>Смоленская область </option>
                                <option>Ставропольский край </option>
                                <option>Тамбовская область </option>
                                <option>Татарстан </option>
                                <option>Тверская область </option>
                                <option>Томская область </option>
                                <option>Тульская область </option>
                                <option>Тыва </option>
                                <option>Тюменская область </option>
                                <option>Удмуртия </option>
                                <option>Ульяновская область </option>
                                <option>Хабаровский край </option>
                                <option>Хакасия </option>
                                <option>Ханты-Мансийский АО — Югра </option>
                                <option>Челябинская область </option>
                                <option>Чечня </option>
                                <option>Чувашия </option>
                                <option>Чукотский АО </option>
                                <option>Ямало-Ненецкий АО </option>
                                <option>Ярославская область</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content form-bottom">
                    <div class="item">
                        <span class="item-name">Что есть в собственности?</span>
                        <div class="right-item">
                            <input id="appartment-modal" type="checkbox" name="Квартира_попап" value="Квартира">
                            <label for="appartment-modal"><span>Квартира</span></label>
                            <select class="custom-select custom-select--wide" name="own_appartment" >
                                <option disabled="" selected="">Выберите регион</option>
                                <option>Москва </option>
                                <option>Московская область </option>
                                <option>Адыгея </option>
                                <option>Алтай </option>
                                <option>Алтайский край </option>
                                <option>Амурская область </option>
                                <option>Архангельская область </option>
                                <option>Астраханская область </option>
                                <option>Башкортостан </option>
                                <option>Белгородская область </option>
                                <option>Брянская область </option>
                                <option>Бурятия </option>
                                <option>Владимирская область </option>
                                <option>Волгоградская область </option>
                                <option>Вологодская область </option>
                                <option>Воронежская область </option>
                                <option>Дагестан </option>
                                <option>Еврейская АО </option>
                                <option>Забайкальский край </option>
                                <option>Ивановская область </option>
                                <option>Ингушетия </option>
                                <option>Иркутская область </option>
                                <option>Кабардино-Балкария </option>
                                <option>Калининградская область </option>
                                <option>Калмыкия </option>
                                <option>Калужская область </option>
                                <option>Камчатский край </option>
                                <option>Карачаево-Черкесия </option>
                                <option>Карелия </option>
                                <option>Кемеровская область </option>
                                <option>Кировская область </option>
                                <option>Коми </option>
                                <option>Костромская область </option>
                                <option>Краснодарский край </option>
                                <option>Красноярский край </option>
                                <option>Крым </option>
                                <option>Курганская область </option>
                                <option>Курская область </option>
                                <option>Ленинградская область </option>
                                <option>Липецкая область </option>
                                <option>Магаданская область </option>
                                <option>Марий Эл </option>
                                <option>Мордовия </option>
                                <option>Мурманская область </option>
                                <option>Ненецкий АО </option>
                                <option>Нижегородская область </option>
                                <option>Новгородская область </option>
                                <option>Новосибирская область </option>
                                <option>Омская область </option>
                                <option>Оренбургская область </option>
                                <option>Орловская область </option>
                                <option>Пензенская область </option>
                                <option>Пермский край </option>
                                <option>Приморский край </option>
                                <option>Псковская область </option>
                                <option>Ростовская область </option>
                                <option>Рязанская область </option>
                                <option>Самарская область </option>
                                <option>Санкт-Петербург </option>
                                <option>Саратовская область </option>
                                <option>Саха (Якутия) </option>
                                <option>Сахалинская область </option>
                                <option>Свердловская область </option>
                                <option>Севастополь </option>
                                <option>Северная Осетия — Алания </option>
                                <option>Смоленская область </option>
                                <option>Ставропольский край </option>
                                <option>Тамбовская область </option>
                                <option>Татарстан </option>
                                <option>Тверская область </option>
                                <option>Томская область </option>
                                <option>Тульская область </option>
                                <option>Тыва </option>
                                <option>Тюменская область </option>
                                <option>Удмуртия </option>
                                <option>Ульяновская область </option>
                                <option>Хабаровский край </option>
                                <option>Хакасия </option>
                                <option>Ханты-Мансийский АО — Югра </option>
                                <option>Челябинская область </option>
                                <option>Чечня </option>
                                <option>Чувашия </option>
                                <option>Чукотский АО </option>
                                <option>Ямало-Ненецкий АО </option>
                                <option>Ярославская область</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name"></span>
                        <div class="right-item">
                            <input id="room-modal" type="checkbox" name="Комната_попап" value="Комната">
                            <label for="room-modal"><span>Комната</span></label>
                            <select class="custom-select custom-select--wide" name="own_appartment">
                                <option disabled="" selected="">Выберите регион</option>
                                <option>Москва </option>
                                <option>Московская область </option>
                                <option>Адыгея </option>
                                <option>Алтай </option>
                                <option>Алтайский край </option>
                                <option>Амурская область </option>
                                <option>Архангельская область </option>
                                <option>Астраханская область </option>
                                <option>Башкортостан </option>
                                <option>Белгородская область </option>
                                <option>Брянская область </option>
                                <option>Бурятия </option>
                                <option>Владимирская область </option>
                                <option>Волгоградская область </option>
                                <option>Вологодская область </option>
                                <option>Воронежская область </option>
                                <option>Дагестан </option>
                                <option>Еврейская АО </option>
                                <option>Забайкальский край </option>
                                <option>Ивановская область </option>
                                <option>Ингушетия </option>
                                <option>Иркутская область </option>
                                <option>Кабардино-Балкария </option>
                                <option>Калининградская область </option>
                                <option>Калмыкия </option>
                                <option>Калужская область </option>
                                <option>Камчатский край </option>
                                <option>Карачаево-Черкесия </option>
                                <option>Карелия </option>
                                <option>Кемеровская область </option>
                                <option>Кировская область </option>
                                <option>Коми </option>
                                <option>Костромская область </option>
                                <option>Краснодарский край </option>
                                <option>Красноярский край </option>
                                <option>Крым </option>
                                <option>Курганская область </option>
                                <option>Курская область </option>
                                <option>Ленинградская область </option>
                                <option>Липецкая область </option>
                                <option>Магаданская область </option>
                                <option>Марий Эл </option>
                                <option>Мордовия </option>
                                <option>Мурманская область </option>
                                <option>Ненецкий АО </option>
                                <option>Нижегородская область </option>
                                <option>Новгородская область </option>
                                <option>Новосибирская область </option>
                                <option>Омская область </option>
                                <option>Оренбургская область </option>
                                <option>Орловская область </option>
                                <option>Пензенская область </option>
                                <option>Пермский край </option>
                                <option>Приморский край </option>
                                <option>Псковская область </option>
                                <option>Ростовская область </option>
                                <option>Рязанская область </option>
                                <option>Самарская область </option>
                                <option>Санкт-Петербург </option>
                                <option>Саратовская область </option>
                                <option>Саха (Якутия) </option>
                                <option>Сахалинская область </option>
                                <option>Свердловская область </option>
                                <option>Севастополь </option>
                                <option>Северная Осетия — Алания </option>
                                <option>Смоленская область </option>
                                <option>Ставропольский край </option>
                                <option>Тамбовская область </option>
                                <option>Татарстан </option>
                                <option>Тверская область </option>
                                <option>Томская область </option>
                                <option>Тульская область </option>
                                <option>Тыва </option>
                                <option>Тюменская область </option>
                                <option>Удмуртия </option>
                                <option>Ульяновская область </option>
                                <option>Хабаровский край </option>
                                <option>Хакасия </option>
                                <option>Ханты-Мансийский АО — Югра </option>
                                <option>Челябинская область </option>
                                <option>Чечня </option>
                                <option>Чувашия </option>
                                <option>Чукотский АО </option>
                                <option>Ямало-Ненецкий АО </option>
                                <option>Ярославская область</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <span class="item-name"></span>
                        <div class="right-item">
                            <input id="house-modal" type="checkbox" name="Дом_попап" value="Дом">
                            <label for="house-modal"><span>Дом</span></label>
                            <select class="custom-select custom-select--wide" name="own_appartment" >
                                <option disabled="" selected="">Выберите регион</option>
                                <option>Москва </option>
                                <option>Московская область </option>
                                <option>Адыгея </option>
                                <option>Алтай </option>
                                <option>Алтайский край </option>
                                <option>Амурская область </option>
                                <option>Архангельская область </option>
                                <option>Астраханская область </option>
                                <option>Башкортостан </option>
                                <option>Белгородская область </option>
                                <option>Брянская область </option>
                                <option>Бурятия </option>
                                <option>Владимирская область </option>
                                <option>Волгоградская область </option>
                                <option>Вологодская область </option>
                                <option>Воронежская область </option>
                                <option>Дагестан </option>
                                <option>Еврейская АО </option>
                                <option>Забайкальский край </option>
                                <option>Ивановская область </option>
                                <option>Ингушетия </option>
                                <option>Иркутская область </option>
                                <option>Кабардино-Балкария </option>
                                <option>Калининградская область </option>
                                <option>Калмыкия </option>
                                <option>Калужская область </option>
                                <option>Камчатский край </option>
                                <option>Карачаево-Черкесия </option>
                                <option>Карелия </option>
                                <option>Кемеровская область </option>
                                <option>Кировская область </option>
                                <option>Коми </option>
                                <option>Костромская область </option>
                                <option>Краснодарский край </option>
                                <option>Красноярский край </option>
                                <option>Крым </option>
                                <option>Курганская область </option>
                                <option>Курская область </option>
                                <option>Ленинградская область </option>
                                <option>Липецкая область </option>
                                <option>Магаданская область </option>
                                <option>Марий Эл </option>
                                <option>Мордовия </option>
                                <option>Мурманская область </option>
                                <option>Ненецкий АО </option>
                                <option>Нижегородская область </option>
                                <option>Новгородская область </option>
                                <option>Новосибирская область </option>
                                <option>Омская область </option>
                                <option>Оренбургская область </option>
                                <option>Орловская область </option>
                                <option>Пензенская область </option>
                                <option>Пермский край </option>
                                <option>Приморский край </option>
                                <option>Псковская область </option>
                                <option>Ростовская область </option>
                                <option>Рязанская область </option>
                                <option>Самарская область </option>
                                <option>Санкт-Петербург </option>
                                <option>Саратовская область </option>
                                <option>Саха (Якутия) </option>
                                <option>Сахалинская область </option>
                                <option>Свердловская область </option>
                                <option>Севастополь </option>
                                <option>Северная Осетия — Алания </option>
                                <option>Смоленская область </option>
                                <option>Ставропольский край </option>
                                <option>Тамбовская область </option>
                                <option>Татарстан </option>
                                <option>Тверская область </option>
                                <option>Томская область </option>
                                <option>Тульская область </option>
                                <option>Тыва </option>
                                <option>Тюменская область </option>
                                <option>Удмуртия </option>
                                <option>Ульяновская область </option>
                                <option>Хабаровский край </option>
                                <option>Хакасия </option>
                                <option>Ханты-Мансийский АО — Югра </option>
                                <option>Челябинская область </option>
                                <option>Чечня </option>
                                <option>Чувашия </option>
                                <option>Чукотский АО </option>
                                <option>Ямало-Ненецкий АО </option>
                                <option>Ярославская область</option>
                            </select>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-white">Отправить</a>
                <div class="callback-agree">
                    <input type="checkbox" name="agree" id="agree5">
                    <label for="agree5">Я даю согласие ООО «Финарди» на обработку моих <a href="#" class="js-modal-privacy">персональных даных</a></label>
                </div>
            </form>
        </div>
    </div>